/*
 *     This file is part of gSender.
 *
 *     gSender is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     gSender is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 *     along with gSender.  If not, see <https://www.gnu.org/licenses/>.
 */

$padding-bottom = 12px;

.table-form {
    display: table;

    .table-form-row {
        display: table-row;
    }

    .table-form-row-dense,
    .table-form-row:last-child,
    .table-form-row.last {
        .table-form-col,
        .table-form-col-label {
            padding-bottom: 0;
        }
    }

    .table-form-col {
        display: table-cell;
        text-align: left;
        padding-bottom: $padding-bottom;
        vertical-align: middle;

        &.top {
            vertical-align: top;
        }
        &.middle {
            vertical-align: middle;
        }
        &.bottom {
            vertical-align: bottom;
        }
    }
    .table-form-col-label {
        cursor: default;
        padding: 0 10px $padding-bottom 0;
        width: 1%;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
