/*
 *     This file is part of gSender.
 *
 *     gSender is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     gSender is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 *     along with gSender.  If not, see <https://www.gnu.org/licenses/>.
 */

// @stylint off

// Normalize CSS
@import url("~normalize.css/normalize.css");

// Bootstrap
@import url("~bootstrap/dist/css/bootstrap.css");

// rc-slider
@import url("~rc-slider/assets/index.css");

// react-select
//@import url("~react-select/dist/react-select.css");

// react-toggle
@import url("~react-toggle/style.css");

// @stylint on

@import url("~react-facebook-loading/dist/react-facebook-loading.css");

// font-awesome
@import "font-awesome";

// perfect-scrollbar
@import "perfect-scrollbar";

// react-infinite-tree
@import "infinite-tree";

// xterm
@import "xterm";
