.statsWrapper {
    display: flex;
    flex-direction: column;
    margin: 0 10px 10px 20px;
    overflow-y: auto;
    border: 1px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //text-align: center;
}