.wrapper {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.error-icon {
    font-size: 4rem !important;
    color: red;
}

.title {
    margin: 2rem 0;
}

.details {
    text-align: center;
    margin: 0 0 2rem;
}

.primary-button {
    width: 50%;
}