.header {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  border-bottom: solid 1px #9CA3AF;
  height: 65px;
}

.header-text {
  margin: 0;
  margin-left: 1rem;
}

.container {
  padding: 0.5rem 1rem;
}

.footer {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}