
.Sidebar {
  display: flex;
  flex-direction: row;

  a + a {
    border-left: solid 1px #4B5563;
  }

  a {
    margin-right: 10px;
    color: white;
    text-decoration none;
    font-size: 1.2rem;
    i {
      margin-right: 0.5rem;
      margin-left: 0.75rem;
    }
  }

  a:hover {
    color: gray;
    text-decoration none;
  }
}
