/*
 * Copyright (C) 2021 Sienci Labs Inc.
 *
 * This file is part of gSender.
 *
 * gSender is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, under version 3 of the License.
 *
 * gSender is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with gSender.  If not, see <https://www.gnu.org/licenses/>.
 *
 * Contact for information regarding this program and its license
 * can be sent through gSender@sienci.com or mailed to the main office
 * of Sienci Labs Inc. in Waterloo, Ontario, Canada.
 *
 */

/*
 *     This file is part of gSender.
 *
 *     gSender is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     gSender is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 *     along with gSender.  If not, see <https://www.gnu.org/licenses/>.
 */

.disable {
    pointer-events: none;
     z-index: 1000;
    opacity: 0.6;
    cursor: not-allowed;
}

.enable {
    width: 107px;
    z-index: 1000;
}

.fa-hat-wizard{
   pointer-events: none;
   cursor: not-allowed;
}

.fa-hat-wizard{
   pointer-events: none;
   cursor: not-allowed;
}
.Sidebar {
  display: flex;
  flex-direction: row;

  a + a {
    border-left: solid 1px #4B5563;
  }

  a {
    margin-right: 10px;
    color: white;
    text-decoration none;
    font-size: 1rem;
    i {
      margin-right: 0.5rem;
      margin-left: 0.75rem;
    }
  }

  a:hover {
    color: gray;
    text-decoration none;
  }
}


.link-button {
  background: none;
  border: none;
  color: white;
  margin-right: 10px;
  text-decoration none;
  font-size: 1.1rem;
  i {
    margin-right: 0.5rem;
    margin-left: 0.75rem;
  }

  &:disabled {
    color: #9CA3AF;
  }
}
