.disable {
    pointer-events: none;
     z-index: 1000;
    opacity: 0.6;
    cursor: not-allowed;
}

.enable {
    width: 107px;
    z-index: 1000;
}

.fa-hat-wizard{
   pointer-events: none;
   cursor: not-allowed;
}

.fa-hat-wizard{
   pointer-events: none;
   cursor: not-allowed;
}
.Sidebar {
  display: flex;
  flex-direction: row;

  a + a {
    border-left: solid 1px #4B5563;
  }

  a {
    margin-right: 10px;
    color: white;
    text-decoration none;
    font-size: 1rem;
    i {
      margin-right: 0.5rem;
      margin-left: 0.75rem;
    }
  }

  a:hover {
    color: gray;
    text-decoration none;
  }
}


.link-button {
  background: none;
  border: none;
  color: white;
  margin-right: 10px;
  text-decoration none;
  font-size: 1.1rem;
  i {
    margin-right: 0.5rem;
    margin-left: 0.75rem;
  }

  &:disabled {
    color: #9CA3AF;
  }
}
