/*
 * Copyright (C) 2021 Sienci Labs Inc.
 *
 * This file is part of gSender.
 *
 * gSender is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, under version 3 of the License.
 *
 * gSender is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with gSender.  If not, see <https://www.gnu.org/licenses/>.
 *
 * Contact for information regarding this program and its license
 * can be sent through gSender@sienci.com or mailed to the main office
 * of Sienci Labs Inc. in Waterloo, Ontario, Canada.
 *
 */

@import 'rotate';
@import 'keypad';

.disabled {
    opacity: .5;
    cursor: no-drop;
}

.widget-content {
    position: relative;
    padding: 10px;

    &.hidden {
        display: none;
    }
}

.row-space {
    margin-bottom: 5px;

    &:last-child {
        margin-bottom: 0;
    }
}

.col-space {
    margin-right: 5px;
}

.jog-widget {
    height: 100%;
}

.keypad {
    height: calc(100% - 3.5rem - 10px);
}

.movementRateButton {
    border: solid 1px #9CA3AF;
    background-color: #D1D5DB;
    padding: 5px;
    font-size: 14px;
    display: flex;
    flex-grow: 1;
    width: 90%;
    border-radius: .25rem;
    justify-content: center;
    color: #3e85c7;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    margin-bottom: clamp(12px, 1vw, 2rem);
    transition: 200ms ease-in-out;

    &:hover {
        border: 1px solid #3E85C7;
        -webkit-transition: 200ms ease-in-out;
        transition: 200ms ease-in-out;
        background-color: #E5E7EB;
    }

    &:disabled {
        cursor: no-drop;
    }
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    flex-grow: 1;
    height: 100%;
    width: 100%;

    button + button {
        margin-left: 0;
    }
}
.speed{
   white-space: nowrap;
    }

.speed-controls {
    height: 3.5rem;
    margin-top: 10px;
    width: 100%;
    font-size: 1.05rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    @media (max-width: 639px), (max-device-width: 639px) {
        grid-gap: 5px;
    }
}

.controlGroupLabel {
    font-size: 1rem;
    line-height: .8rem;
}

.btn-Keypad {
    margin: 0 !important;
    padding: 0 !important;
    border: none;
    outline: none;
    background: #3e85c7;
    color: white;
    width: 100%;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    align-self: center;

    &:disabled {
        background: #9CA3AF;
        cursor: no-drop;
    }

    &:hover:enabled {
        background: #5191cc;
    }
}

.btn-up {
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 100%, 50% 75%, 0 100%);
}

.btn-right {
    clip-path: polygon(75% 0, 100% 50%, 75% 100%, 0 100%, 25% 50%, 0 0);
}

.btn-down {
    clip-path: polygon(0 75%, 50% 100%, 100% 75%, 100% 0, 50% 25%, 0 0);
}

.btn-left {
    clip-path: polygon(100% 0, 75% 50%, 100% 100%, 25% 100%, 0 50%, 25% 0);
}

.btn-up-left {
    clip-path: url('#bl');
    width: 60%;
    height: 60%;
    margin-top: 40% !important;
    margin-left: 40% !important;
}

.btn-up-right {
    clip-path: url('#br');
    width: 60%;
    height: 60%;
    margin-top: 40% !important;
    margin-right: 40% !important;
}

.btn-down-left {
    clip-path: url('#fl');
    width: 60%;
    height: 60%;
    margin-left: 40% !important;
    margin-bottom: 40% !important;
}

.btn-down-right {
    clip-path: url('#fr');
    width: 60%;
    height: 60%;
    margin-right: 40% !important;
    margin-bottom: 40% !important;
}

.z-top-transform {
    transform: translate(40%, 50%);
}

.z-bottom-transform {
    transform: translate(40%, -50%);
}

.hidden {
    display: none;
}

.keys-body {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    height: 100%;
    align-self: center;
    align-items: center;
    @media (max-width: 639px), (max-device-width: 639px) {
        flex-direction column;
    }
}

.xy-keys {
    width: 56%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(4, minmax(0, 1fr));

    @media (max-height: 820px) {
        width: 43%;
    }
    /*@media (max-width: 639px), (max-device-width: 639px) {
        width: 91%;
        grid-gap: 12px;
    }*/
}

.xy-keys > div::before, .xy-keys > button::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    display: block;
}

.zKeys {
    width: 13.4%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.preset-controls {
    width: 22%;
    margin-left: 5%;
    align-self: center;

    button + button {
        margin-left: 0;
    }
    @media (max-width: 639px), (max-device-width: 639px) {
        display: flex;
        width: 89%;
        margin: 1rem;
        button + button {
            margin-left: 12px;
        }
    }
}

.jog-cancel-button {
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%)
    color: #dc2626;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    //border: solid 1px #4b5563;
    background: #cccccc;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

    &:hover:enabled {
        //animation: pulse-red 1s infinite;
    }

    i {
        // font-size: min(5vmin, 2.5vmax) !important;
        font-size: 2.75rem !important;
    }

    &:disabled {
        cursor: no-drop;
        color: #9ca3af;
    }
}

.jog-active {
    background: #dc2626;
    color: #FFFFFF;
}

.hideSVG {
    position: absolute;
    width: 0;
    height: 0;
}


.active-button {
    background: rgba(119,169,215, 0.3) !important;
    color: #3e85c7 !important;
    border: solid 1px #3e85c7 !important;
    position: relative;
}

.active-indicator {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #3e85c7;
    clip-path: polygon(100% 50%, 0 0, 0 95%);
    width: 0.8rem;
    height: 0.8rem;
}

@keyframes pulse-red {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}
