
.disabled {
    display: none;
}

.top {
    position: absolute;
    top: 207px;
    border-radius: 4px;
    transform: translateY(-143px);
    padding: 3px;
    color: #fff;
    background: #000;
    font-size: 1rem;
    font-family: sans-serif;
    line-height: 2;
    z-index: 100;
    white-space: nowrap;
}

.bottom {
    position: absolute;
    top: 220px;
    border-radius: 4px;
    transform: translateY(-32px);
    padding: 3px;
    color: #fff;
    background: #000;
    font-size: 1rem;
    font-family: sans-serif;
    line-height: 2;
    z-index: 100;
    white-space: nowrap;
}

.default {
    position: absolute;
    margin-left: 4%;
    border-radius: 4px;
    transform: translateY(-32px);
    transform: translateX(-32px);
    padding: 3px;
    color: #fff;
    background: #000;
    font-size: 1rem;
    font-family: sans-serif;
    line-height: 2;
    z-index: 100;
    white-space: nowrap;
}