.header {
  display: flex;
  align-items center;
  margin-bottom: 0;
  border-bottom: solid 1px #9CA3AF;
  height: 65px;
}

.header-text {
  margin: 0;
  margin-left: 1rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  height: 90%;
}

.tabs {
    background-color: white !important;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    &::before {
        content: none !important;
    }
}

.action-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  column-gap: 2rem;
  margin: 1rem auto;
}

.step-control {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 14px;
    color: #3e85c7;
}

.icon {
  font-size: 3rem !important;
  color: #3e85c7;
  margin-bottom: 2rem;
}

.triangle {
  $color = lighten(#3e85c7, 25%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 250px 0 0 250px;
  border-color: transparent transparent transparent $color;
  position: relative;
  align-self: center;
  margin-left: 3rem;
}

.circle-point {
  $color = lighten(#FF8A8A, 25%);
  $keyframes = circlePulse

  width: 50px;
  border-radius: 50%;
  height: 50px;
  background-color: $color;
  position: absolute;
  display: flex;
  justify-content center;
  align-items center;

  &-active {
    @keyframes {$keyframes} {
      0% {
        background-color: $color;
      }
      50% {
        background-color: darken($color, 20%);
      }
      100% {
        background-color: $color;
      }
    }

    background-color: $color;
    animation-name: $keyframes;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
}

.top {
  right: 225px;
  top: -270px;
}

.bottom-right {
  right: -23px;
  top: -28px;
}

.bottom-left {
  right: 225px;
  top: -28px;
}

.circle-label {
  position: absolute;
  left: 20px;
  top: 15px;
  font-weight: bold;
  font-size: 1.5rem;
}

.arrow {
  $color = black;
  $keyframes = arrowPulse;

  width: 5px;
  position: absolute;
  display: grid;
  grid-template-rows: 3% 94% 3%;
  background-color: $color;

  &-active {
    @keyframes {$keyframes} {
      0% {
        background-color: $color;
      }
      50% {
        background-color: lighten($color, 70%);
      }
      100% {
        background-color: $color;
      }
    }

    background-color: $color;
    animation-name: $keyframes;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
}

.arrow-diagonal {
  height: 280px;
  top: -275px;
  right: 110px;
  transform: rotate(315deg);
}

.arrow-bottom {
  height: 175px;
  top: -75px;
  right: 122px;
  transform: rotate(90deg);
}

.arrow-left {
  height: 175px;
  top: -211px;
  left: -265px;
  transform: none;
}

.arrow-head {
    $color = black;
    $keyframes = arrowHeadPulse;

    transform: rotate(135deg);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 0 10px;
    border-color: transparent transparent transparent $color;
    position: absolute;
    right: -2px;
    top: -3px;

    &-active {
      @keyframes {$keyframes} {
        0% {
          border-color: transparent transparent transparent $color;
        }
        50% {
          border-color: transparent transparent transparent lighten($color, 70%);
        }
        100% {
          border-color: transparent transparent transparent $color;
        }
      }

      border-color: transparent transparent transparent $color;
      animation-name: $keyframes;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
}

.arrow-tail {
    $color = black;
    $keyframes = arrowTailPulse;

    transform: rotate(135deg);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 0 10px;
    border-color: $color transparent transparent transparent;
    position: absolute;
    right: -2.25px;
    bottom: -3px;

    &-active {
      @keyframes {$keyframes} {
        0% {
          border-color: $color transparent transparent transparent;
        }
        50% {
          border-color: lighten($color, 70%) transparent transparent transparent;
        }
        100% {
          border-color: $color transparent transparent transparent;
        }
      }

      border-color: $color transparent transparent transparent;
      animation-name: $keyframes;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
}

.arrow-label {

  &-diagonal {
    position: absolute;
    top: -175px;
    right: 0;
    width: 100px;
  }

  &-bottom {
    text-align: center;
    position: absolute;
    top: 30px;
    right: 60px;
    width: 150px;
  }

  &-left {
    position: absolute;
    top: -135px;
    right: 280px;
    width: 145px;
    text-align: right;
  }

}

.input-text {
  font-size: 1.35rem !important;
  z-index: 0;
  text-align: center;
  color: #3e85c7 !important;
}

.action {
  display: grid;
  grid-template-columns: 1fr 2fr 20fr;
  column-gap: 0.5rem;
  align-items: center;

  &-inactive {
    display: grid;
    grid-template-columns: 1fr 2fr 20fr;
    column-gap: 0.5rem;
    align-items: center;
    opacity: 0.25;
  }
}

.current-action-item {
  $color = green;
  $keyframes = currentActionPulse;

  font-size: 1.75rem !important;
  color: $color;

  @keyframes {$keyframes} {
    0% {
      color: $color;
    }
    50% {
      color: lighten($color, 10%);
    }
    100% {
      color: $color;
    }
  }

  animation-name: $keyframes;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
