.function-button {
  border: solid 1px #9CA3AF;
  color: #3e85c7;
  border-radius: 0.25rem;
  background-color: rgba(209, 213, 219, 0.6);
  display: flex;
  width: 100%;
  justify-content center;
  align-items center;
  --tw-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
  padding: 0.25rem;
  transition: 200ms ease-in-out;
  font-size: 1.1rem;
  font-weight: normal;
  margin-top: 10px;

  &:hover:enabled {
    border-color: #3e85c7;
    background: #e5e7eb;
  }

  &:disabled {
    color: #9ca3af;
    background-color: #D9DCE1;
    border-color: #9ca3af;
    cursor: no-drop;
  }

  i {
    margin-right: 0.25em;
    font-size: 1rem;
  }
}

.function-button-primary {
  background: rgba(62,133,199, 1);
  color: #FFFFFF;

  &:hover:enabled {
    background-color: #77a9d7;
    border-color: #3e85c7;

  }
}
