node_modules
npm-debug.log
package-lock.json
/.eslintcache
/.nyc_output
/coverage
/dist
/output
/releases
.idea
/.vscode
electron-builder.yml
.DS_Store
yarn.lock
yarn-error.log
gsender_server_log.txt

# Sentry Auth Token
.env.sentry-build-plugin
cypress.env.json
# Sentry Config File
.env.sentry-build-plugin

# Sentry Config File
.env.sentry-build-plugin

src/app/src/routeTree.gen.ts
src/app/src/application.css
.env
