.control-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    position: absolute;
    top: 60px;
    right: 20px;
    left: 20px;
}

.camera-img {
    width: 50px;
    padding: 5px;
    border-radius: 10px;

    &:focus {
        outline: none;
    }
}

.camera-control-active {
    background-color: darken(#53d277, 30%);
}

.camera-control {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    // background-color: rgba(255,255,255,0.3);
    // padding: 1rem;
    border-radius: 10px;
}

.machine-status {
    p {
        font-size: 1.5rem;
        text-align: right;
        color: white;
    }
}

.machine-status-message {
    font-size: 2rem;
    align-self: center;
    padding: 25px;
    border-radius: 5px;
    width: 100%;
    max-width: 255px;
    text-align: center;
}

.machine {
    status-mixin(bgColor, textColor){
        @extend .machine-status-message;
        
        background-color: rgba(bgColor, 0.6);
        color: rgba(textColor, 0.8);
    }

    &-Idle {
        bgColor = rgb(255,255,255);
        color = rgb(255, 255, 255);
        status-mixin(bgColor, color)
    }

    &-Alarm {
        bgColor = rgb(255, 0, 0);
        color = rgb(255, 255, 255);
        status-mixin(bgColor, color)
        cursor: pointer;

        &:hover {
            background-color: lighten(bgColor, 5%);
            color: black;
        }
    }

    &-Run {
        bgColor = rgb(0, 255, 0);
        color = rgb(255, 255, 255);
        status-mixin(bgColor, color)
    }

    &-Hold {
        bgColor = rgb(217, 119, 6);
        color = rgb(255, 255, 255, 0.8);
        status-mixin(bgColor, color)
    }
}