@import "widget";
@import "primary-toolbar";

.visualizer-component {
    margin: 10px;
    display: flex;
    flex-direction column;
    flex-grow 1;
}

.visualizer-header {
}

.visualizer-wrapper {
    display: flex;
    flex-direction column;
    flex-grow: 1;
    position: relative;
}

.visualizer-container{
    display: flex;
    flex-direction column;
    flex-grow: 1;
}

.flex-grow {
    display: flex;
    flex-grow: 1;
    flex-direction column;
    margin-bottom: 2em;
}
