/*
 * Copyright (C) 2021 Sienci Labs Inc.
 *
 * This file is part of gSender.
 *
 * gSender is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, under version 3 of the License.
 *
 * gSender is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with gSender.  If not, see <https://www.gnu.org/licenses/>.
 *
 * Contact for information regarding this program and its license
 * can be sent through gSender@sienci.com or mailed to the main office
 * of Sienci Labs Inc. in Waterloo, Ontario, Canada.
 *
 */

@import 'widget';
@import 'primary-toolbar';

.visualizer-component {
    border: solid 1px #9CA3AF;
}

.litetoggle {
    transform: scale(.8);
}

.visualizer-wrapper {
    height: 100%;
    position: relative;
}

.visualizer-msg-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.visualizer-container {
    height: 100%;
    overflow: hidden;
}

.svg-container {
    display: block;
    margin: auto;
}

.no-margin {
    margin-bottom: 0 !important;
}

.flex-grow {
    display: flex;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    flex-direction: column;
    box-sizing: border-box;
}

.vizWidgetOverride {
    height: calc(100% - 9rem) !important;
    margin: 0 !important;
    padding-bottom: 10px;
}

.alarm-button-wrap {
    display: flex;
    align-items: center
    justify-content: center;
    pointer-events: auto;
}
.alarm-button {
    max-width: 225px;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 2rem;

    border: solid 1px #9b1919;
    background: rgba(220,38,38, 0.9);
    color: #FFFFFF;
    font-weight: bold;
    flex-grow: 1;
    animation: grow 2s infinite;
    i {
        font-size: 3rem !important;

    }

    &:hover {
        background: rgba(220,38,38, 0.7);
    }
}

.control-area {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 0;
    left: 0;
}

.status-message {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    font-size: clamp(1rem, 1.15vw, 2rem);
    height: calc(var(--vh, 1vh) * 10);
    max-height: 70px;
    border-radius: 5px;
    width: 100%;
    max-width: 255px;
    text-align: center;

    background-color: rgba(rgb(244, 134, 6), 0.6);
    color: rgba(rgb(255, 255, 255), 1);
    line-height: 1.5;
    pointer-events: none;
}

@keyframes grow {
    0% { transform: scale(1); }
    30% { transform: scale(1); }
    40% { transform: scale(1.08); }
    50% { transform: scale(1); }
    60% { transform: scale(1); }
    70% { transform: scale(1.05); }
    80% { transform: scale(1); }
    100% { transform: scale(1); }
}
