.loader {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
     top: 45%;
    left: 33%;
    text-align: center;
    transform: translateX(-50%);

    .loaderIcon {
        > * {
            font-size: 48px;
            color: #111827;
        }
    }

    .loaderText {
        margin: 15px 0 10px;
        color: #111827;
    }
}
