.loader {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    .loaderIcon {
        > * {
            font-size: 48px;
            color:white;
        }
    }

    .loaderText {
        margin: 15px 0 10px 0;
        color:white;
    }
}
