.top-access-control {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  height: 45px;
}

.visualizer-tabs {
  display: flex;
  gap: 1rem;
  align-self: flex-end;
}

.v-tab-item {
  padding: 0 10px 3px;
  font-size: 1.2rem;
  color: #6b7280;
  outline: none;
  border-bottom: 4px solid rgba(0, 0, 0, 0.0);
  transition: 250ms ease-in-out;
}

.v-tab-item.active {
  color: #3e85c7;
  border-bottom: 4px solid #3e85c7;
  transition: 250ms ease-in-out;
}

.v-control-area {
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}