.workflow-control {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;

    :global {
        .btn-group {
            background-color: #fff;
        }
    }
}

.icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    margin-bottom: 4px; // dropdown menu item

    &.icon-perimeter-tracing-square {
        background: url("./images/perimeter-tracing-square.svg") no-repeat 0 0;
    }
    &.icon-perimeter-tracing-circle {
        background: url("./images/perimeter-tracing-circle.svg") no-repeat 0 0;
    }
}

.workflow-btn {
    padding: 1.5rem 2rem;
    margin-right: 1rem;
    font-weight: bold;
    color: white;
    border-radius: 0.25rem;
    border: solid 1px rgba(209, 213, 219, 1);

    i {
        margin-left: 1rem;
    }
}

.workflow-button {

    btn-mixin(color){
        @extend .workflow-btn;

        background-color: rgba(color, 0.8);
        --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        transition: 150ms ease-in-out;

        &:disabled {
            disabled-color = rgba(color, 0.5);

            background-color: disabled-color;
            color: rgba(black, 0.2);
        }

        &:not(:disabled):hover {
            background-color: darken(color, 30%);
            transition: 150ms ease-in-out;
        }
    }

    &-upload {
        color = #3e85c7;
        btn-mixin(color)
    }

    &-play {
        color = #059669;
        btn-mixin(color)
    }

    &-pause {
        color = #D97706;
        btn-mixin(color)
    }

    &-stop {
        color = #dc2626;
        btn-mixin(color)
    }
}
