.workflow-control {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;

    :global {
        .btn-group {
            background-color: #fff;
        }
    }
}

.icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    margin-bottom: 4px; // dropdown menu item

    &.icon-perimeter-tracing-square {
        background: url("./images/perimeter-tracing-square.svg") no-repeat 0 0;
    }
    &.icon-perimeter-tracing-circle {
        background: url("./images/perimeter-tracing-circle.svg") no-repeat 0 0;
    }
}

.workflow-btn {
    font-size: clamp(0.8rem, 1.15vw, 1.75rem);
    width: 190px;
    height: 75px;
    border: 0;
    font-weight: bold;
    color: white;
    width: 12vw;
    calc(var(--vh, 1vh) * 10);

    i {
        font-size: clamp(0.7rem, 1.15vw, 1.25rem);
    }
}

.workflow-button {

    btn-mixin(color){
        @extend .workflow-btn;

        background-color: rgba(color, 0.9);
        border: 2px solid darken(color, 30%);

        transition: 200ms ease-in-out;

        &:disabled {
            disabled-color = rgba(color, 0.5);

            background-color: disabled-color;
            color: rgba(black, 0.2);
            border: 2px solid darken(color, 30%);
        }

        &:not(:disabled):hover {
            background-color: darken(color, 30%);
            border: 2px solid darken(color, 10%);
            transition: 200ms ease-in-out;
        }
    }

    &-upload {
        color = #3e85c7;
        btn-mixin(color)
    }

    &-play {
        color = #059669;
        btn-mixin(color)
    }

    &-pause {
        color = #D97706;
        btn-mixin(color)
    }

    &-stop {
        color = #dc2626;
        btn-mixin(color)
    }
}
