/*
 * Copyright (C) 2021 Sienci Labs Inc.
 *
 * This file is part of gSender.
 *
 * gSender is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, under version 3 of the License.
 *
 * gSender is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with gSender.  If not, see <https://www.gnu.org/licenses/>.
 *
 * Contact for information regarding this program and its license
 * can be sent through gSender@sienci.com or mailed to the main office
 * of Sienci Labs Inc. in Waterloo, Ontario, Canada.
 *
 */

.workflow-control {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 15px;
    display: flex;
    flex-grow: 1;
    flex-direction: row;

    :global {
        .btn-group {
            background-color: #fff;
        }
    }
}

.relative-wrapper {
    position relative;
}

.icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    margin-bottom: 4px; // dropdown menu item

    &.icon-perimeter-tracing-square {
        background: url('./images/perimeter-tracing-square.svg') no-repeat 0 0;
    }

    &.icon-perimeter-tracing-circle {
        background: url('./images/perimeter-tracing-circle.svg') no-repeat 0 0;
    }
}

.workflow-btn {
    padding: 1.5rem 2rem;
    margin-right: 1rem;
    color: white;
    border-radius: .25rem;
    border: solid 1px rgba(209, 213, 219, 1);
    min-width: 12rem;

    i {
        margin-left: 1rem;
    }
}

.active-button {
    background: rgba(119, 169, 215, .3) !important;
    color: #3e85c7 !important;
    border: solid 1px #3e85c7 !important;
}

.buttonsContainer {
    display: flex;
    width: 100%;
    gap: 1rem;
    justify-content center;
}

.recentFiles {
    display: flex;
    color: white;
    justify-content: space-around;
    margin-top: 7%;
}

.closeFileButton {
    position: absolute;
    bottom: 0;
    right: 1rem;
    border-left: solid 1px #FFFFFF;
    height: 50%;
    min-width: 30px;
    display flex;
    align-items center;
    justify-content center;
    z-index: 10;
    color: #ffffff;
    i {
        margin: 0;
        padding: 0;
    }
}

.start-from-line-button {
    position: absolute;
    top: 0;
    right: 1rem;
    border-left: solid 1px #fff;
    border-bottom: solid 1px #fff;
    height: 50%;
    min-width: 30px;
    display flex;
    align-items center;
    justify-content center;
    z-index: 10;
    color: #ffffff;
    i {
        margin: 0;
        padding: 0;
    }
}

.recentFilesContainer {
    position: absolute;
    border: 1px solid white;
    top: -100px;
    border-radius: 10px;
    border-bottom-left-radius: initial;
    left: 156px;
    min-width: 190px;
    max-width: fit-content;
    height: 160px;
    background-color: rgba(62, 133, 199, .8);
}

.workflow-button {
    btn-mixin(color) {
        @extend .workflow-btn;
        background-color: rgba(color, .8);
        --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .05);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        transition: 150ms ease-in-out;

        &:disabled {
            disabled-color = rgba(color, .5);
            background-color: disabled-color;
            color: rgba(black, .2);
        }

        &:not(:disabled):hover {
            background-color: darken(color, 30%);
            transition: 150ms ease-in-out;
        }
    }

    &-split-top {
        right: 132px;
        bottom: 0;
        padding: 4px;
        color: white;
        position: absolute;
        border-top-right-radius: 4px;
        margin: 4px;
        border: 1px solid #fff;
        background-color: rgba(62, 133, 199, .8);
        z-index: 1;
    }

    @media (min-width: 1296px) {
        &-split-top {
            left: 132px;
            top: -3px;
        }
    }

    &-split-bottom {
        left: 132px;
        top: 26px;
        padding: 4px;
        border-bottom-right-radius: 1px;
        color: white;
        position: absolute;
        margin: 4px;
        border: 1px solid #fff;
        background-color: rgba(62, 133, 199, .8);
        z-index: 1;
    }

    @media (min-width: 1050px) {
        &-split-bottom {
            left: 121px;
            top: 24px;
        }
    }

    @media (min-width: 1168px) {
        &-split-bottom {
            left: 121px;
            top: 24px;
        }
    }

    @media (min-width: 1296px) {
        &-split-bottom {
            left: 132px;
            top: 26px;
        }
    }

    &-disabled {
        display: none;
    }

    &-upload {
        color = #3e85c7;
        btn-mixin(color);
    }

     &-test {
        color =#5191cc;
        btn-mixin(color)
        padding: 0.3rem 1rem !important;
        min-width: 0 !important;
        display: flex;
        flex-direction column-reverse;
        align-items center;
        justify-content: center
        gap: 0.3rem;

         i {
             margin: 0 !important;
             padding: 0 !important;
         }

    }

    &-play {
        color = #059669;
        btn-mixin(color);
    }

    &-pause {
        color = #D97706;
        btn-mixin(color);
    }

    &-stop {
        color = #dc2626;
        btn-mixin(color);
    }
}


.alarm-description-button {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 99999px;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 1rem;
    display flex;
    align-items center;
    justify-content center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    pointer-events all;
    i {
        font-size: 2rem !important;
        color: #6c6c6c
    }
}


.split-container {
    display: flex;
    flex-direction row;
    gap: 0.1rem;
    justify-content: space-between;
}
