.header-area {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.header-left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

.header-right {
    align-self: center;

    & > * {
        margin-bottom: 5px;
        text-align: right;
    }
}

.logo {
    width: 120px;
    height: 120px;
}

.country {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
}

.section {
    margin-bottom: 3rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid lightgrey;
    max-height: 5rem;
    &.last {
        border: none;
    }

    h3 {
        font-size: 1.6rem;
    }
}
    
.timeline {
    display: flex;
    gap: 0.5rem;
    justify-content: left;
    min-height: 15rem;
    max-height: 17rem;
    background-color: white;
    overflow-y: scroll;
    padding: 2px 16px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    &::-webkit-scrollbar {
    width: 7px;
    }
    &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #13283c; 
    border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }
}
    .content{
        h2 {
            font-weight: bold;
            color: #fff;
            font-size: 24px;
        }
        }

.timeline-text {
    margin-top: 0.5rem;
    text-align: center;
}

.timeline-bubble {
    width: 100px;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3e85c7;
    color: #fff;
    border-radius: 100%;
    text-align: center;
    padding: 0.5rem;
}

.arrow {
    $color = rgba(black, 0.3);

    display: grid;
    grid-template-columns: 7fr 1fr;
    height: 5rem;
    align-self: flex-start;
    margin-top: 1.5rem;

    .body {
        height: 1rem;
        align-self: center;
        background-color: $color;
    }

    .head {
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 2rem solid $color;
        height: 40px;
        align-self: center;
    }
}