.header-area {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.header-left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

.header-right {
    align-self: center;

    & > * {
        margin-bottom: 5px;
        text-align: right;
    }
}

.logo {
    width: 120px;
    height: 120px;
}

.country {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
}

.section {
    margin-bottom: 3rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid lightgrey;

    &.last {
        border: none;
    }

    h3 {
        font-size: 1.6rem;
    }
}

.timeline {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

.timeline-text {
    margin-top: 0.5rem;
    text-align: center;
}

.timeline-bubble {
    width: 100px;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3e85c7;
    color: #fff;
    border-radius: 100%;
    text-align: center;
    padding: 0.5rem;
}

.arrow {
    $color = rgba(black, 0.3);

    display: grid;
    grid-template-columns: 7fr 1fr;
    height: 5rem;
    align-self: flex-start;
    margin-top: 1.5rem;

    .body {
        height: 1rem;
        align-self: center;
        background-color: $color;
    }

    .head {
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 2rem solid $color;
        height: 40px;
        align-self: center;
    }
}