.job-status-wrapper {
    display: flex;
    flex-direction row;
    flex-grow: 1;
    align-items: center;
    width: 100%;
    height: 30%;
    border: solid 1px #c9cdd3;
    margin-bottom: 10px;
}

