.widget-content {
    position: relative;
    padding: 10px;

    &.hidden {
        display: none;
    }

}

.job-status-widget {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    align-items: center;
    width: 100%;
}

.job-status-widget-content {
    width: 100%;
}

.job-status-wrapper {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    align-items: center;
    width: 100%;
    background: #e5e7eb;
    border: solid 1px #c9cdd3;
    margin-bottom: 10px;
}

