.widget-content {
    position: relative;
    padding: 10px;

    &.hidden {
        display: none;
    }

}

.job-status-widget {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 90%;
    padding: 10px;
    margin: 10px;
    background-color: #e5e7eb;
    border: 1px solid #9CA3AF;
}

.job-status-widget-content {
    width: 100%;
    border: 0 !important;
}

.job-status-wrapper {
    font-size: 16px;
}
