.notificationHeader {
    padding: 1%;
    color: #3e85c7;
    border-bottom: solid 3px #3e85c7;
    text-align: center;
}

.modalContainer {
    height: 35vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
}

.notificationMessage {
    height: 63%;
    text-align: center;
    margin-top: -3%;
  
}

.notificationButtonContainer{
    font-size: 10px
    }

.notificationButtons {
    border: 1px solid #9ca3af;
    color: #3E85C7;
    background-color: #D1D5DB;
    border-radius: .25rem;
    width: 100%;
    max-width: 10rem;
    font-size: 14px;
    padding: 5px;
        margin: 10%;
    transition: 200ms ease-in-out;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

    &:hover {
        border: 1px solid #3e85c7;
        transition: 200ms ease-in-out;
        background-color: #E5E7EB;
        border-radius: .25rem;
        --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }
}
