.header {
  position: absolute;
  top: 2%;
  left: 260px;
  margin-top: 37px;
  justify-content: space-around;
  display: flex;
  height: 9%;
  right: 0;
  z-index: 100;
  border-bottom: 4px solid #1f2937;
}

.headerTitle {
  width: 50%;
}
