.preferencesContainer {
  width: 1000px;
  height: 700px;
  display: flex;
  flex-grow: 1;
  border: solid 1px #aab0ba;

  label {
    margin: 0;
    font-size: 1.2rem;
  }
}

.preferencesContent {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.preferencesMenu {
  width: 20%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: #1F2937;
  font-size: 1.3rem;

  h3 {
    color: #3e85c7;
    padding-left: 10px;
  }

  button {
    font-size: 1rem;
    border: none;
    width: 100%;
    margin: 0;
    background: none;
    color: white;
    text-align: left;
    padding: 20px 0 20px 10px;

    &:focus {
      outline: none;
    }

    &:hover {
      background: #374151;
    }
  }
}

.activeMenu button {
  background: #374151 !important;
}

.general-area {
  display: flex;
  gap: 2rem;
  width: 100%;
  justify-content: space-between;
}

.preferencesOptions {
  width: 80%;
  background: #d1d5db;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.tool-main {
  display: flex;
  flex-direction: col;
  justify-content: space-between;
  width: 100%;
}

.tool-listings {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.add-tool-form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.tools {
  width: 100%;
  border-radius: 2px;
  background: white;
  margin-bottom: 1.4rem;
  overflow-y: scroll;
  height: 344px;

  .delete {
    font-size: 1.1rem;
    color: red;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    background: none;
  }
}

.tool {
  padding: 10px;
  display: flex;
  flex-direction: row;
  font-size: 1.25rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.tool-dimensions {
  width: 30%;
}

.tool + .tool {
  border-top: solid 1px #cccccc;
}

.add-tool {
  width: 100%;
  background: #3e85c7;
  color: #FFFFFF;
  outline: none;
  border: none;
  padding: .5rem;
  border-radius: .25rem;
  margin-top: 1rem;

  &:disabled {
    background: #6B7280;
  }
}

.jog-speed-active {
  font-size: 1.1rem;
  width: 100%;
  background: #3e85c7;
  color: #FFFFFF;
  outline: none;
  border: none;
  padding: 7px;
  border-radius: .25rem;
  margin: 0;
}

.jog-speed-inactive {
  font-size: 1.1rem;
  width: 100%;
  background: #6B7280;
  color: #FFFFFF;
  outline: none;
  border: none;
  padding: 7px;
  border-radius: .25rem;
  margin: 0;
}

.input-spread {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
  gap: 1rem;
}

.probe-info {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.keybindings-message {
  color: white;
  background-color: #3e85c7;
  font-size: 1.1rem;
  padding: 1rem;
  margin-top: 1.4rem;
}

.table-wrapper {
  height: 600px;
  overflow-y: scroll;
}

.settings-title {
  font-size: 1.9rem;
  margin: 3rem 0 1rem;
}

.settings-subtitle {
  color: #3e85c7;
  font-size: 1.25rem;
  margin: 10px 0;
}

.settings-wrapper {
  width: 95%;
  margin: auto;
}

.machine-options-inputgroup {
  display: flex;
  align-items: center;
  margin-bottom: 1.4rem;
  width: 100%;
  label {
   font-size: 1.2rem;
  }
}

.machine-options-section {
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.machine-options-select {
  width: 100%;
  font-size: 1.4rem;
}

.mb-0 {
  margin-bottom: 0;
}

.machine-features-section {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  flex-direction: row;
}

.probe-settings-group {
  margin: 1rem 0;
}

.jog-speed-wrapper {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.0rem;
  font-size: 1.2rem;

  button {
    max-width: 30%;
  }
}

.flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-space-evenly {
  justify-content: space-evenly;
}

.flex-row {
  flex-direction: row;
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.fieldset {
  border: 2px solid rgba(0, 0, 0, .15);
  padding: 10px;
  margin-bottom: 1.4rem;

  br {
    line-height: 150%;
  }
}

.fieldset-legend {
  font-size: 1.4rem;
  color: #3e85c7;
  margin: 0;
  width: unset;
  border-bottom: 0;
}

.general-area-item {
  margin-bottom: 1.4rem;
}

.item-info {
  font-size: 1.05rem;
  color: rgba(0, 0, 0, .45);
}

.input {
  display: grid;
  gap: 1rem;
  grid-template-columns: 0fr 2fr;
  margin: 0 10px 1.5rem !important;

  label {
    font-size: 1.2rem;
    align-self: center;
  }
}

.prefferedradio {
  font-size: 1.2rem;
}

.viz-grid {
  width: 100%
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;

  > * {
    margin-bottom: 20px;
  }
}
