@import 'display-panel';
@import 'rotate';
@import 'keypad';

.disabled {
    opacity: .5;
    cursor: no-drop;
}

.widget-content {
    position: relative;
    padding: 10px;

    &.hidden {
        display: none;
    }
}

.row-space {
    margin-bottom: 5px;

    &:last-child {
        margin-bottom: 0;
    }
}

.col-space {
    margin-right: 5px;
}

.jog-widget {
    button + button {
        margin: none;
    }
}

.movementRateButton {
    border: solid 1px #9CA3AF;
    background-color: #D1D5DB;
    padding: 5px;
    font-size: 14px;
    display: flex;
    flex-grow: 1;
    width: 90%;
    border-radius: .25rem;
    justify-content: center;
    color: #3e85c7;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    margin-bottom: clamp(12px, 1vw, 2rem);
    transition: 200ms ease-in-out;

    &:hover {
        border: 1px solid #3E85C7;
        -webkit-transition: 200ms ease-in-out;
        transition: 200ms ease-in-out;
        background-color: #E5E7EB;
    }

    &:disabled {
        cursor: no-drop;
    }
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    flex-grow: 1;
    height: 100%;
    width: 100%;

    button + button {
        margin-left: 0;
    }
}

.speed-controls {
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    align-items: center;
}

.btn-Keypad {
    height: clamp(30px, 3vw, 60px);
    margin: 0 !important;
    padding: 0 !important;
    border: none;
    outline: none;
    background: #3e85c7;
    color: white;
    width: 100%;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;


    &:disabled {
        background: #9CA3AF;
        cursor: no-drop;
    }

    &:hover:enabled {
        background: #5191cc;
    }
}


.btn-up {
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 100%, 50% 75%, 0 100%);
}

.btn-right {
    clip-path: polygon(75% 0, 100% 50%, 75% 100%, 0 100%, 25% 50%, 0 0);
}

.btn-down {
    clip-path: polygon(0 75%, 50% 100%, 100% 75%, 100% 0, 50% 25%, 0 0);
}

.btn-left {
    clip-path: polygon(100% 0, 75% 50%, 100% 100%, 25% 100%, 0 50%, 25% 0);
}

.btn-up-left{
    clip-path: url(#bl);
    width: 60%;
    height: 60%;
    margin-top: 40% !important;
    margin-left: 40% !important;
}
.btn-up-right{
    clip-path: url(#br);
    width: 60%;
    height: 60%;
    margin-top: 40% !important;
    margin-right: 40% !important;
}
.btn-down-left{
    clip-path: url(#fl);
    width: 60%;
    height: 60%;
    margin-left: 40% !important;
}
.btn-down-right{
    clip-path: url(#fr);
    width: 60%;
    height: 60%;
    margin-right 40% !important;
}

.z-top-transform {
    transform: translate(40%, 50%);
}
.z-bottom-transform {
    transform: translate(40%, -50%);
}

.hidden {
    display: none;
}

.keys-body{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around
}

.xy-keys{
    width: 50%;
    height: max-content;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.xy-keys > div::before, .xy-keys > button::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    display: block;
}

.zKeys{
    width: 13.4%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.preset-controls{
    width: 25%;
    margin-left: 5%;

    button {
        margin-bottom: 20px;
    }

    button + button {
        margin-left: 0;
    }
}

.jog-cancel-button {
    color: #dc2626;
    border: none;
    outline: none;
    font-size: 2rem;
    display: flex;
    align-items center;
    justify-content center;
    background: none;
    border-radius: 9999px;
    background: #cccccc;

    &:disabled {
        cursor: no-drop;
        color: #9ca3af
    }
}

.hideSVG {
    position: absolute;
    width: 0;
    height: 0;
}
