.input-wrapper {
  min-width: 100px;
  display flex;
  flex-direction: row;
  width: 100%;
  align-items: stretch;
  flex-grow: 1;
  border: 1px solid #d8d8d8;
  height: 2.25rem;

  input {
    text-align: center;
    width: 75%;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    border: none;

    &:focus {
      outline: none;
    }
  }
}

.control-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  span {
    font-weight: bold;
  }

  button + button {
    margin-left: 0;
  }
}

.step-button {
  border: none;
  position: relative;
  text-align: center;
  min-width: 25px;
  font-size: 10px;
  outline: none;
  display: flex;
  flex-grow: 1;
  margin: 0;
  padding: .25rem;
  border-radius: 0;
  flex-direction: column;
  height: 100%;
}
