/* *{
  border: 1px solid black;
} */

.upperLeftTriangle {
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
  background-color: #3e85c7;
  width: 25px;
  height: 25px;
  margin-left: 14px;
  margin-top: 5px;
}

.upperLeftTrianglehide {
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
  background-color: #3e85c7;
  width: 25px;
  height: 25px;
  margin-left: 14px;
  margin-top: 5px;
  opacity: 0.7;
  cursor: not-allowed;
}

.upperRightTriangle {
  clip-path: polygon(0 100%, 0 0, 100% 100%);
  background-color: #3e85c7;
  width: 25px;
  height: 25px;
  margin-left: 127px;
  margin-top: -37px;
}
.upperRightTriangleHide {
  clip-path: polygon(0 100%, 0 0, 100% 100%);
  background-color: #3e85c7;
  width: 25px;
  height: 25px;
  margin-left: 127px;
  margin-top: -37px;
  opacity: 0.7;
  cursor: not-allowed;
}
.lowerLeftTriangle {
  clip-path: polygon(0 0, 100% 0, 100% 100%);
  background-color: #3e85c7;
  width: 25px;
  margin-top: 11px;
  margin-left: 14px;
  height: 25px;
}
.lowerLeftTriangleHide {
  clip-path: polygon(0 0, 100% 0, 100% 100%);
  background-color: #3e85c7;
  width: 25px;
  margin-top: 11px;
  margin-left: 14px;
  height: 25px;
  opacity: 0.7;
  cursor: not-allowed;
}

.lowerRightTriangle {
  clip-path: polygon(0 100%, 100% 0, 0 0);
  background-color: #3e85c7;
  width: 25px;
  height: 25px;
  margin-left: 182%;
  margin-top: 13px;
}

.lowerRightTriangleHide {
  clip-path: polygon(0 100%, 100% 0, 0 0);
  background-color: #3e85c7;
  width: 25px;
  height: 25px;
  margin-left: 182%;
  margin-top: 13px;
  opacity: 0.7;
  cursor: not-allowed;
}

.upArrow {
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 100%, 50% 75%, 0 100%);
  background-color: #3e85c7;
  width: 40px;
  height: 45px;
  margin-left: 65px;
  margin-top: -33px;
}

.upArrowHide{
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 100%, 50% 75%, 0 100%);
  background-color: #3e85c7;
  width: 40px;
  height: 45px;
  margin-left: 65px;
  margin-top: -33px;
  opacity: 0.7;
  cursor: not-allowed;
}

.upArrowZ {
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 100%, 50% 75%, 0 100%);
  height: 40px;
  width: 65%;
  background-color: #3e85c7;
}

.upArrowZHide {
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 100%, 50% 75%, 0 100%);
  height: 40px;
  width: 65%;
  background-color: #3e85c7;
  opacity: 0.7;
  cursor: not-allowed;
}
.leftArrow {
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  background-color: #3e85c7;
  width: 35px;
  height: 37px;
  margin-left: 5px;
}
.leftArrowHide{
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  background-color: #3e85c7;
  width: 35px;
  height:37px;
  opacity: 0.7;
  margin-left: 5px;
  cursor: not-allowed;
}

.rightArrow {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  background-color: #3e85c7;
  width: 35px;
  height: 37px;
  margin-left: 87px;
}
.rightArrowHide {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  background-color: #3e85c7;
  width: 35px;
  height: 37px;
  margin-left: 87px;
  opacity: 0.7;
  cursor: not-allowed;
}

.downArrow {
  clip-path: polygon(0 75%, 50% 100%, 100% 75%, 100% 0, 50% 25%, 0 0);
  background-color: #3e85c7;
  width: 36px;
  height: 45px;
  margin-left: 75%;
  margin-top: 4px;
}
.downArrowHide {
  clip-path: polygon(0 75%, 50% 100%, 100% 75%, 100% 0, 50% 25%, 0 0);
  background-color: #3e85c7;
  width: 36px;
  height: 45px;
  margin-left: 75%;
  margin-top: 4px;
  opacity: 0.7;
  cursor: not-allowed;
}


.downArrowZ {
  height: 38px;
  width: 65%;
  margin-top: 33px;
  clip-path: polygon(0 75%, 50% 100%, 100% 75%, 100% 0, 50% 25%, 0 0);
  background-color: #3e85c7;
}
.downArrowZHide {
  height: 38px;
  width: 65%;
  margin-top: 33px;
  clip-path: polygon(0 75%, 50% 100%, 100% 75%, 100% 0, 50% 25%, 0 0);
  background-color: #3e85c7;
  opacity: 0.7;
  cursor: not-allowed;
}

.controlsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.mainControls {
 
}

.middleControls {
  display: flex;
  margin-top: -9px;
}

.bottomControls {
  display: flex;
}

.buttonText {
 display: inline-block;
 margin-left: 12px;
 margin-top: 10px;
}
.buttonTextZ {
  display: inline-block;
  margin-left: 16px;
  margin-top: 10px;
 }

.topThreeMainControls {
  margin-right: 25px;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: center;
}

.zControls {
  margin-left: 95%;
  width: 41%;
  margin-top: -66%;
}

.speedButtonGroup {
  display: flex;
  margin-left: 130%;
  flex-direction: column;
  margin-top: -62%;
}

.preciseSpeedButton {
  color: #3e85c7;
  margin-bottom: 10px;
  margin-left: 9px;
}

.normalSpeedButton {
  color: #3e85c7;
  margin-left: inherit;
  margin-bottom: 10px;
}

.fastSpeedButton {
  color: #3e85c7;
  margin-left: 2px;
  margin-bottom: 10px;
}

.htmlLabels {
  display: block;
}

.rollingNumbers {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 94%;
  margin-top: 2%;
}

.uppercontrols{
  height: 125px;
  display: flex;
}


