/* *{
  border: 1px solid black;
} */

.upperLeftTriangle {
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
  background-color: #3e85c7;
  width: 17px;
  height: 17px;
  margin-left: 17px;
  margin-top: -17px;
}

.upperLeftTrianglehide {
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
  background-color: #3e85c7;
  width: 17px;
  height: 17px;
  margin-left: 17px;
  margin-top: -17px;
  opacity: 0;
  cursor: not-allowed;
}
.upperLeftTriangleDisabled{
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
  background-color: #3e85c7;
  width: 17px;
  height: 17px;
  margin-left: 17px;
  margin-top: -17px;
  opacity: 0.7;
  cursor: not-allowed;
}

.upperRightTriangle {
  clip-path: polygon(0 100%, 0 0, 100% 100%);
  background-color: #3e85c7;
  width: 17px;
  height: 17px;
  margin-left: 133px;
  margin-top: -42px;
}

.upperRightTriangleHide {
  clip-path: polygon(0 100%, 0 0, 100% 100%);
  background-color: #3e85c7;
  width: 17px;
  height: 17px;
  margin-left: 133px;
  margin-top: -42px;
  opacity: 0;
  cursor: not-allowed;
}
.upperRightTriangleDisabled{
  clip-path: polygon(0 100%, 0 0, 100% 100%);
  background-color: #3e85c7;
  width: 17px;
  height: 17px;
  margin-left: 133px;
  margin-top: -42px;
  opacity: 0.7;
  cursor: not-allowed;
}

.lowerLeftTriangle {
  clip-path: polygon(0 0, 100% 0, 100% 100%);
  background-color: #3e85c7;
  width: 17px;
  margin-top: 23px;
  margin-left: 14px;
  height: 17px;
}

.lowerLeftTriangleHide {
  clip-path: polygon(0 0, 100% 0, 100% 100%);
  background-color: #3e85c7;
  width: 17px;
  margin-top: 23px;
  margin-left: 14px;
  height: 17px;
  opacity: 0;
  cursor: not-allowed;
}
.lowerLeftTriangleDisabled{
  clip-path: polygon(0 0, 100% 0, 100% 100%);
  background-color: #3e85c7;
  width: 17px;
  margin-top: 23px;
  margin-left: 14px;
  height: 17px;
  opacity: 0.7;
  cursor: not-allowed;
}

.lowerRightTriangle {
  clip-path: polygon(0 100%, 100% 0, 0 0);
  background-color: #3e85c7;
  width: 17px;
  height: 17px;
  margin-left: 383%;
  margin-top: 24px;
}

.lowerRightTriangleHide {
  clip-path: polygon(0 100%, 100% 0, 0 0);
  background-color: #3e85c7;
  width: 17px;
  height: 17px;
  margin-left: 383%;
  margin-top: 24px;
  opacity: 0;
  cursor: not-allowed;
}
.lowerRightTriangleDisabled{
  clip-path: polygon(0 100%, 100% 0, 0 0);
  background-color: #3e85c7;
  width: 17px;
  height: 17px;
  margin-left: 383%;
  margin-top: 24px;
  opacity: 0.7;
  cursor: not-allowed;
}

.upArrow {
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 100%, 50% 75%, 0 100%);
  background-color: #3e85c7;
  width: 40px;
  height: 45px;
  margin-left: 65px;
  margin-top: -21px;
}

.upArrowHide {
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 100%, 50% 75%, 0 100%);
  background-color: #3e85c7;
  width: 40px;
  height: 45px;
  margin-left: 65px;
  margin-top: -21px;
  opacity: 0.7;
  cursor: not-allowed;
}

.upArrowZ {
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 100%, 50% 75%, 0 100%);
  height: 40px;
  width: 65%;
  background-color: #3e85c7;
}

.upArrowZHide {
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 100%, 50% 75%, 0 100%);
  height: 40px;
  width: 65%;
  background-color: #3e85c7;
  opacity: 0.7;
  cursor: not-allowed;
}

.leftArrow {
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  background-color: #3e85c7;
  width: 35px;
  height: 37px;
  margin-left: 5px;
}

.leftArrowHide {
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  background-color: #3e85c7;
  width: 35px;
  height: 37px;
  opacity: 0.7;
  margin-left: 5px;
  cursor: not-allowed;
}

.rightArrow {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  background-color: #3e85c7;
  width: 35px;
  height: 37px;
  margin-left: 87px;
}

.rightArrowHide {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  background-color: #3e85c7;
  width: 35px;
  height: 37px;
  margin-left: 87px;
  opacity: 0.7;
  cursor: not-allowed;
}

.downArrow {
  clip-path: polygon(0 75%, 50% 100%, 100% 75%, 100% 0, 50% 25%, 0 0);
  background-color: #3e85c7;
  width: 39px;
  height: 45px;
  margin-left: 89%;
  margin-top: 4px;
}

.downArrowHide {
  clip-path: polygon(0 75%, 50% 100%, 100% 75%, 100% 0, 50% 25%, 0 0);
  background-color: #3e85c7;
  width: 39px;
  height: 45px;
  margin-left: 89%;
  margin-top: 4px;
  opacity: 0.7;
  cursor: not-allowed;
}

.downArrowZ {
  height: 38px;
  width: 65%;
  margin-top: 33px;
  clip-path: polygon(0 75%, 50% 100%, 100% 75%, 100% 0, 50% 25%, 0 0);
  background-color: #3e85c7;
}

.downArrowZHide {
  height: 38px;
  width: 65%;
  margin-top: 33px;
  clip-path: polygon(0 75%, 50% 100%, 100% 75%, 100% 0, 50% 25%, 0 0);
  background-color: #3e85c7;
  opacity: 0.7;
  cursor: not-allowed;
}

.controlsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.mainControls {
  width: 50%;
}

.middleControls {
  display: flex;
}

.bottomControls {
  display: flex;
}

.buttonText {
  display: inline-block;
  margin-left: 12px;
  margin-top: 10px;
}

.buttonTextZ {
  display: inline-block;
  margin-left: 20%;
  margin-top: 10px;
}

.topThreeMainControls {
  margin-right: 25px;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: center;
}

.zControls {
  width: 20%;
  margin-top: -4%;
}

.speedButtonGroup {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.preciseSpeedButton {
  color: #3e85c7;
  margin-bottom: 10px;
  margin-left: 9px;
  margin-top: 0%;
}
.speedButtonGroup:hover {
  color: #3e85c7;
}
.speedButtonGroup:disabled {
  color: #3e85c7;
}

.normalSpeedButton {
  color: #3e85c7;
  margin-left: inherit;
  margin-bottom: 10px;
}

.fastSpeedButton {
  color: #3e85c7;
  margin-left: 2px;
  margin-bottom: 10px;
}

.htmlLabels {
  display: block;
}

.rollingNumbers {
  display: flex;
  justify-content: flex-end;
  padding: 0.5em;
}


.uppercontrols {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#keyboard {
  margin-left: 74%;
  font-size: 23px;
}
#keyboardDisabled {
  margin-left: 74%;
  font-size: 23px;
  opacity: 0.7;
  cursor: not-allowed;
}

input{
  width: 92%;
  padding: 4px 6px;
  margin: -1px 1px;
  box-sizing: border-box;
}


