.widget-content {
    position: relative;
    height: 50vh;

    &.hidden {
        display: none;
    }

    &.fullscreen {
    }

    .inactive-content {
        padding: 10px;
        color: #333;
        opacity: .65;
    }
}
