/*
 *     This file is part of gSender.
 *
 *     gSender is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     gSender is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 *     along with gSender.  If not, see <https://www.gnu.org/licenses/>.
 */

//
// Form
//
.form-fields {
    margin: 0;
}

.form-group {
    margin: 15px 0;

    &:first-child {
        margin-top: 0;
    }

    .form-control {
        width: 440px;
        max-width: 100%;
        margin-right: 10px;

        &.shorter {
            width: 130px;
        }
        &.short {
            width: 250px;
        }
        &.long {
            width: 100%;
        }
    }
}

.form-actions {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    display: block;
    padding: 0 15px;
    border-top: 1px solid #ccc;
    background: #f5f5f5;
    text-align: right;
    line-height: 50px;
}
