.column {
  display flex;
  flex-direction column;
  gap: 0.5rem;
}

.row {
  display flex
  flex-direction row;
  justify-content space-between;
  gap: 0.2rem;
}

.inputRow {
  display: flex;
  flex-direction row;
  justify-content stretch;
}

.textInput {
  color: #0096cc;
  height: 33px;
  position: relative;
  text-align: left;
  outline: none;
  background-position: center right;
  background-repeat: no-repeat;
  caret-color: #0096cc;
  //background-image: url('data:image/svg+xml;utf8,%3Csvg%20version%3D%221.1%22%20viewBox%3D%220%200%2050%2067%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20stroke-width%3D%222%22%3E%3Cline%20x1%3D%221%22%20x2%3D%2250%22%20y1%3D%2233.5%22%20y2%3D%2233.5%22%20stroke%3D%22%23D8D8D8%22%2F%3E%3Cpolyline%20transform%3D%22translate(25%2020)%20rotate(45)%20translate(-25%20-20)%22%20points%3D%2219%2026%2019%2014%2032%2014%22%20stroke%3D%22%23000%22%2F%3E%3Cpolyline%20transform%3D%22translate(25%2045)%20rotate(225)%20translate(-25%20-45)%22%20points%3D%2219%2052%2019%2039%2032%2039%22%20stroke%3D%22%23000%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}

.textInput[type='number']:disabled {
  cursor: not-allowed;
}


.unit {
  display flex;
  align-items center;
  justify-content center;
  padding: 3px 14px;
  margin-left: -6px;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border-radius: 4px;
}
