/*
 * Copyright (C) 2022 Sienci Labs Inc.
 *
 * This file is part of gSender.
 *
 * gSender is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, under version 3 of the License.
 *
 * gSender is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with gSender.  If not, see <https://www.gnu.org/licenses/>.
 *
 * Contact for information regarding this program and its license
 * can be sent through gSender@sienci.com or mailed to the main office
 * of Sienci Labs Inc. in Waterloo, Ontario, Canada.
 *
 */

.wrapper {
  border-radius: 5px;
  border: solid 1px #9CA3AF
  display: flex;
  flex-direction row;
  gap: 0.5rem;
  align-items center;
  justify-content space-between;
  padding: 0.25rem 0.25rem 0.25rem 0.75rem;
  margin-bottom: 0.5rem;
  position: relative;
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

  label {
    font-weight: bold;
    font-size: 1.4rem;
    position: absolute;
    left: -0.7rem;
    top: 50%;
    transform: translateY(-50%);
    background: #E5E7EB;
    padding: 0.6rem 0;
    justify-content center;
    align-items center;
  }
}

.position-wrapper {
  display: flex;
  flex-direction column;
  align-items center;
  justify-content center;
}
