.slider-wrapper {
    display: flex;
    grid-template-columns: 4fr 1fr;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
    width: 100%;

    span {
      min-width: 5ch;
      text-align: right;
    }
}

.slider-container {
  margin-top: -14px;
}

.slider {
    -webkit-appearance: none;
    height: 10px;
    border-radius: 5px;
    background: none;
    outline: none;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #3e85c7;
    cursor: pointer;
    margin-top: -8px;
    position: relative;
    z-index: 1;
    opacity: 0.8;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #FF0000;
  cursor: pointer;
}

.sliderticks {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin: 0 0 -10px 0;
}

.sliderticks p {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 1px;
  background: #13283c;
  height: 12px;
  margin: -5px 0 0 0;
}

// https://medium.com/@manoj10101996/customize-your-input-range-slider-into-gradient-slider-without-any-external-stylesheet-be8d6ec224ce
.slider::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  border-radius: 10px;
  background: #3e85c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #d1d5db 0%,
    #3e85c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #d1d5db 0%,
    #3e85c7
  );
  height: 7px;
}
