.slider-wrapper {
    display: flex;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: 2rem;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
    margin: auto;
    min-width: 100%

    :first-child {
        text-align: right;
    }

  input{
    min-width: 14rem;
    margin-left: 0.7rem;
  }
}

.slider {
    -webkit-appearance: none;
    height: 15px;
    border-radius: 5px;
    background: #d1d5db;
    outline: none;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #295d8d;
    cursor: pointer;
}