.options-inputgroup {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-bottom: 2rem;
    justify-content: space-between;
    margin: 2rem;
    width: 100%;

    label {
        font-size: 1.5rem;
    }
}

.options-section {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 85%;
}

.options-select {
    width: 100%;
    max-width: 250px;
}

.cutting-area {
    font-size: 1.5rem;

    tr {
        height: 30px;
    }

    .label, .value {
        width: 120px;
    }

    .value {
        text-align: right;
    }
}