.wizardWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 80%;
  height: 500px;
  border-radius: 5px;
  display: flex;
  flex-direction column;
  overflow hidden;
  z-index: 20000;
}

.minimizedWrapper {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 25%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0px 20px 20px -17px rgba(255, 159, 16, 0.73);
}

.wizardContent {
  display flex;
  flex-direction row;
  height: calc(100% - 40px);
  gap: 1rem;
  justify-items stretch;
  align-items stretch;
  justify-content stretch
  flex-grow 1;
}

.wizardTitle {
  border-bottom: solid 1px #9ca3af;
  padding: 10px 10px;
  display: flex;
  flex-direction row;
  justify-content space-between;
  align-items center;

  h1 {
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    color: #4b5563;
    font-weight: bold;
  }
}

.stepperWrapper {
  width: 30%;
  background-color: #f7f8f9;
  border-right: solid 1px #9ca3af;
  padding: 10px;
  display flex;
  flex-direction column;

  h2 {
    padding: 0;
    margin: 0;
    font-size: 1.3rem;
  }
}

.instructionWrapper {
  width: 70%;
  padding: 10px;
  display grid;
  grid-template-rows 5fr 1fr;
  grid-gap 1rem;
}


.step {
  display: flex;
  flex-direction row;
  padding: 1rem;
  gap: 1rem;
  border: solid 1px #f7f8f9;
  align-items  center;
  &-active {
    @extends .step;
    background: #FFFFFF;
    border: solid 1px #9ca3af;
  }
}

.stepWrapper {
  height: 100%;
  overflow-y scroll;
  padding: 5px;
  box-sizing border-box;
}

.stepIndex {
  background: none;
  border: solid 1px #9ca3af;
  border-radius 9999px;
  display flex;
  align-items center;
  justify-content center;
  align-content center
  width: 2.5rem;
  height: 2.5rem;
  color: #9ca3af;
  font-weight: bold;
  font-size: 1.1rem;

  &-complete {
    @extends .stepIndex;
    color: #FFFFFF;
    background: #059669;
    border: solid 1px #059669;
  }

  &-active {
    @extends .stepIndex;
    color: #3e85c7;
    border: solid 1px #3e85c7;
    //background: #3e85c7;
  }
}

.hidden {
  display: none;
}

.instructionTitle {
  padding: 0;
  margin: 0;
  font-size: 1.4rem;
}

.stepText {
  display: flex;
  flex-direction column;
}

.stepTitle {
  color: #059669;
  font-weight: bold;

  &-active {
    @extends .stepTitle;
    color: #295d8d;
  }

  &-future {
    @extends .stepTitle;
    color: #4b5563;
  }
}

.stepperDescription {
  color: #9ca3af;
  font-weight: bold;
  font-size: 1.2rem;

  &-active {
    color: #3e85c7;
    font-weight: bold;
    font-size: 1.2rem;
  }
}


.substeps {
  display: flex;
  flex-direction column;
  gap: 2rem;
  padding: 1rem;
}

.substep {
  display: flex;
  flex-direction column;
  margin-botttom: 2rem;
  padding: 0 1rem;
}

.substepTitle {
  color: #9ca3af;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.substepDescription {
  color: #000000;
  font-size: 1.1rem;
}


.controls {
  display flex;
  flex-direction row;
  align-content center
  justify-content space-around;
  gap: 2rem;
}


.stepButtonBase {
  padding: 1rem 1.33rem;
  color: white;
  border-radius: .25rem;
  border: solid 1px rgba(209, 213, 219, 1);
  min-width: 12rem;

  i {
    margin: 0 10px !important;
  }
}

button-mixin($color) {
  @extend .stepButtonBase;
  background-color: rgba($color, .8);
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  transition: 150ms ease-in-out;

  &:disabled {
    $disabled-color = rgba($color, .5);
    background-color: $disabled-color;
    color: rgba(black, .2);
  }

  &:not(:disabled):hover {
    background-color: darken($color, 30%);
    transition: 150ms ease-in-out;
  }
}

.stepButton {
  button-mixin(#059669);
  &-inverted {1q2
    button-mixin(#3e85c7);
    color: #3e85c7;
    border: solid 1px #3e85c7;
    background: none;
  }
}

.substepWrapper {
  display: flex;
  flex-direction row;
  align-items center;
  box-sizing border-box;
  padding: 10px;
  border-radius: 5px;
  transition: 200ms ease-in-out;
}

.substepIndicator {
  border-radius: 5px;
  background: none
  color: #77a9d7;
  display: flex;
  align-items center;
  justify-content center;
  padding: 5px;
  i {
    padding: none !important;
    margin: none !important;
    font-size: 2.5rem!important;
  }

  &-complete {
    @extends .substepIndicator;
    color: #059669;
  }
  &-pending{
    @extends .substepIndicator;
    color: #d97706;
  }
}

.minimize {
  border: none;
  padding: none;
  outline: none;
  background: none;
  i {
    font-size: 1rem;
  }
}


.substepComplete {
  opacity: 1;
  border-left: solid 3px #036949
  background: rgba(#036949, 0.1);
}

.substepActive {
  opacity: 1;
  border-left: solid 3px #3e85c7;
  background: rgba(#3e85c7, 0.1);
}

.substepPending {
  opacity: 0.25;
  //border-left: solid 3px #d97706;
  background: rgba(#d97706, 0.1)
}


.actionRow {
  display: flex;
  flex-direction row;
  margin-top: 1rem;
  gap: 0.5rem;
  align-items center;
}

.orSpan {

}

.subHeading {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  color: #4b5563;
  font-weight: bold;
  margin-top: 1rem;
}
