.wizardWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 90%;
  height: 400px;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction column;
  overflow hidden;
}

.wizardContent {
  display flex;
  flex-direction row;
  gap: 1rem;
  justify-items stretch;
  align-items stretch;
  justify-content stretch
  flex-grow 1;
}

.wizardTitle {
  background: #3e85c7;
  padding: 5px 10px;

  h1 {
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    color: white;
  }
}

.stepperWrapper {
  width: 40%;
  background-color: #e5e7eb;
  border-left: solid 1px;
  padding: 10px;
  display flex;
  flex-direction column;

  h2 {
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
  }
}

.instructionWrapper {
  width: 60%;
  padding: 10px;
  display flex;
  flex-direction column;
  justify-content space-between;
}


.step {
  display: flex;
  flex-direction row;
  padding: 1rem;
  gap: 1rem;
  border: solid 1px #e5e7eb;
  align-items  center;
  &-active {
    @extends .step;
    background: #FFFFFF;
    border: solid 1px #9ca3af;
  }
}

.stepIndex {
  background: none;
  border: solid 1px #e5e7eb;
  border-radius 9999px;
  display flex;
  align-items center;
  justify-content center;
  align-content center
  width: 2.5rem;
  height: 2.5rem;
  color: #9ca3af;
  font-weight: bold;
  font-size: 1.1rem;

  &-complete {
    @extends .stepIndex;
    color: #059669;
    border: solid 1px #059669;
  }

  &-active {
    @extends .stepIndex;
    color: #ffffff;
    border: solid 1px #3e85c7;
    background: #3e85c7;
  }
}

.hidden {
  display: none;
}

.instructionTitle {
  padding: 0;
  margin: 0;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.stepText {
  display: flex;
  flex-direction column;
}

.stepTitle {
  color: #059669;
  font-weight: bold;

  &-active {
    @extends .stepTitle;
    color: #3e85c7;
  }

  &-future {
    @extends .stepTitle;
    color: #4b5563;
  }
}

.stepperDescription {
  color: #9ca3af;
  font-weight: bold;
  font-size: 1.2rem;

  &-active {
    color: #295d8d;
    font-weight: bold;
    font-size: 1.2rem;
  }
}
