.hidden {
  display: none;
}

.modal {
  border-top: 5px solid red;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  border-radius 5px;
  margin: none;
  padding: none;
}

.wrapper {
  border-radius 5px;
  display: flex;
  flex-direction column;
  gap: 0.5rem;
  align-content center;
  justify-content center;
}

.body {
  padding: 10px;
}

.progressArea {
  margin-top: 1rem;
}


.notifications {
  resize: none;
  outline: none;
  border: solid 1px #CCCCCC;
  &:focus {
    outline: none;
    border: solid 1px #CCCCCC;
  }
}
