@tailwind base;
@tailwind components;
@tailwind utilities;

.slider {
    /* -webkit-appearance: none; */
    height: 24px;
    width: 100%;
    /* border-radius: 5px; */
    background: none;
    outline: none;
    transition: .2s;

    /* progress trick */
    overflow: hidden;
    border-radius: 15px;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    margin-top: -2px;
    position: relative;
    z-index: 1;
    opacity: 1;
    transition: 0.2s;
    border-color: darkslategrey;
    border-width: 1px;
    border-style: solid; 

    /* progress trick */
    box-shadow: -101vw 0 0 100vw blue;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #FF0000;
    cursor: pointer;

    /* progress trick */
    box-shadow: -407px 0 0 400px blue;
}

/* https://medium.com/@manoj10101996/customize-your-input-range-slider-into-gradient-slider-without-any-external-stylesheet-be8d6ec224ce */
.slider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    border-radius: 10px;
    background: -webkit-linear-gradient(
        to right,
        #d1d5db 0%,
        #3e85c7
    ); /* Chrome 10-25, Safari 5.1-6 */
    background-image: repeating-linear-gradient(
        -45deg,
        transparent,
        transparent 20px,
        lightgrey 20px,
        lightgrey 40px
    );
    height: 20px;
}
