@tailwind base;
@tailwind components;
@tailwind utilities;

@property --border-angle {
    inherits: false;
    initial-value: 0deg;
    syntax: '<angle>';
}
@custom-variant dark (&:where(.dark, .dark *));

body,
html,
#app {
    height: 100%;
    * {
        @apply box-border;
        @apply select-none;
    }
    input[type='number'] {
        appearance: none !important;
    }
    label {
        @apply text-sm;
    }
    input {
    }
}

@layer utilities {
    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type='number'] {
        -moz-appearance: textfield;
    }
}

@property --border-angle {
    inherits: false;
    initial-value: 0deg;
    syntax: '<angle>';
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .fixed-content-area {
        height: calc(100vh - 64px);
        max-height: calc(100vh - 64px);
    }

    .rapidButtonTransform {
        transform: scale(1.4) translatex(-20px) perspective(160px)
            rotateX(55deg);
    }
}
