@tailwind base;
@tailwind components;
@tailwind utilities;

@property --border-angle {
    inherits: false;
    initial-value: 0deg;
    syntax: '<angle>';
}
@custom-variant dark (&:where(.dark, .dark *));

body,
html,
#app {
    height: 100%;
    * {
        @apply box-border;
        @apply select-none;
    }
    input[type='number'] {
        appearance: none !important;
    }
    label {
        @apply text-sm;
    }
    input {
    }
    textarea:focus,
    input:focus {
        outline: none;
    }
    *:focus {
        outline: none !important;
    }
}

@layer utilities {
    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type='number'] {
        -moz-appearance: textfield;
    }
}

@property --border-angle {
    inherits: false;
    initial-value: 0deg;
    syntax: '<angle>';
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .fixed-content-area {
        height: calc(100vh - 64px);
        max-height: calc(100vh - 64px);
    }

    .fixed-tool-area {
        height: calc(100vh - 224px);
        max-height: calc(100vh - 224px);
    }

    .fixed-select-tool-area {
        height: calc(100vh - 64px - 1.125rem - 3rem);
        max-height: calc(100vh - 64px - 1.125rem - 3rem);
    }

    .rapidButtonTransform {
        transform: scale(1.4) translatex(-25px) perspective(160px)
            rotateX(55deg);
    }

    .rapidButtonTransformPortrait {
        transform: scale(1.4) translatex(-30px) perspective(160px)
            rotateX(55deg);
    }
}

@layer components {
    .stripes {
        position: relative;
        overflow: hidden;
    }

    .stripes:before {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: calc(100% + 22px);
        content: '';
        background-image: linear-gradient(
            -45deg,
            #689ac9 5%,
            transparent 5% 45%,
            #689ac9 45% 55%,
            transparent 55% 95%,
            #689ac9 95%
        );
        background-size: 22px 22px;
        animation: slide 1s infinite linear;
    }
}

@layer base {
    @keyframes slide {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(20px);
        }
    }
}
