.modalFirmware {
    position: fixed;
    left: 0;
    top: -52%;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
    text-align: center;
  }
  
  .modalFirmware.enter-done {
    opacity: 1;
    pointer-events: visible;
  }
  
  .modalFirmware.exit {
    opacity: 1;
  }
  
  .modal-content {
    border-top: 5px solid red;
    position: absolute;
    width: 539px;
    left: 30%;
    top: 50%;
    height: 328px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
  }
  
  .modalFirmware.enter-done .modal-content {
    transform: translateY(0);
  }
  
  .modalFirmware.exit .modal-content {
    transform: translateY(-200px);
  }
  
  .modal-header, .modal-footer {
    padding: 10px;
  }
  
  .modal-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;
  }
  
  .modal-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    ;
    height: 52%;
    margin-top: -10%;
  }
  
  .modal-title {
    margin: 0;
    font-size: 2rem;
  }
  
  .modal-body {
    height: 45%;
    font-size: 1.5rem;
    padding: 4%;
    border-top: 1px solid #eee;
  }
  
  .button {
    border: 1px solid #9ca3af;
    color: #D1D5DB;
    background-color: #3E85C7;
    border-radius: .25rem;
    width: 100%;
    max-width: 12rem;
    font-size: 14px;
    padding: 5px;
    margin: 2%;
    transition: 200ms ease-in-out;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  
  .button:hover {
    border: 1px solid #3e85c7;
    color: #3e85c7;
    transition: 200ms ease-in-out;
    background-color: #E5E7EB;
    border-radius: .25rem;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  
  .buttonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .footer-text {
    font-size: 1.5rem;
    text-align: center;
  }
  
  .footer-textTwo {
    margin-top: 0%;
    font-size: 1.5rem;
  }
  
  .redButton {
    border-radius: .25rem;
    width: 100%;
    max-width: 12rem;
    font-size: 14px;
    padding: 5px;
    margin: 2%;
    color: #DD380D;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border: solid #DD380D 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
  }
  
  .redButton:hover {
    transition: 200ms ease-in-out;
    background-color: #E5E7EB;
    border-radius: .25rem;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }