/*
 * Copyright (C) 2021 Sienci Labs Inc.
 *
 * This file is part of gSender.
 *
 * gSender is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, under version 3 of the License.
 *
 * gSender is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with gSender.  If not, see <https://www.gnu.org/licenses/>.
 *
 * Contact for information regarding this program and its license
 * can be sent through gSender@sienci.com or mailed to the main office
 * of Sienci Labs Inc. in Waterloo, Ontario, Canada.
 *
 */

.widget-content {
    overflow: auto;
}

.height-override {
    height: 100% !important;
}

.machine-position {
    width: 15ch;
    align-items center;
}

.btn-left {
    height: 50px;
    clip-path: polygon(100% 0, 75% 50%, 100% 100%, 25% 100%, 0 50%, 25% 0);
}

.btn-right {
    height: 50px;
    clip-path: polygon(75% 0, 100% 50%, 75% 100%, 0 100%, 25% 50%, 0 0);
}

.jog-control-wrapper {
    margin-top: 1rem;
    max-width: 150px;
    display: flex;
    gap: 1rem;
}

.preset-controls {
    display: flex;
    flex-direction: column;
}

.active-button {
    background: rgba(119,169,215, 0.3) !important;
    color: #3e85c7 !important;
    border: solid 1px #3e85c7 !important;
    position: relative;
}

.active-indicator {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #3e85c7;
    clip-path: polygon(100% 50%, 0 0, 0 95%);
    width: 0.8rem;
    height: 0.8rem;
}

.speed-controls-wrapper {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.rotary-axis-wrapper {
    display: flex;
    gap: 1rem;

    @media (max-width: 1230px) {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.rotary-jog-control-area {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-right: 1px solid lightgrey;
    padding-right: 1rem;

    @media (max-width: 1230px) {
        width: 100%;
        border: none;
    }
}

.rotary-tools-area {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @media (max-width: 1230px) {
        width: 100%;
    }
}

.rotary-tab-section-title {
    color: grey;
    font-weight: bold;
    font-size: 1.2rem;
}