/*
 * Copyright (C) 2021 Sienci Labs Inc.
 *
 * This file is part of gSender.
 *
 * gSender is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, under version 3 of the License.
 *
 * gSender is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with gSender.  If not, see <https://www.gnu.org/licenses/>.
 *
 * Contact for information regarding this program and its license
 * can be sent through gSender@sienci.com or mailed to the main office
 * of Sienci Labs Inc. in Waterloo, Ontario, Canada.
 *
 */

.dropdown {
    background-color: white;
    padding: 4px 6px;
    border: 1px solid #3e85c7;
    border-radius: 3px;
    .rc-dropdown-menu 
    {
     .rc-dropdown-menu-item-active {
        color: white;
        background: #3e85c7;
        &:hover{
            color: #78aad8;
            background: #6596c5;
        }
    }
    }

}
.elipse-icon {
    font-size: 2rem !important;
}



