.chartDiv {
    padding: 20px;
    background-color: rgba(25, 53, 80, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 70px;
}

.input {
    color: black;
}

/* body and html css to overwrite changes from tanstack table package */


label {
    font-weight: 400;
}

.tableContainer{
    padding: 20px;
    background-color: rgba(25, 53, 80, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 70px;
}

.navContainer {
    display: flex;
    flex-direction: row;
}

.table {
    border: none !important;
}

.table td{
    border: #ADADAD solid 1px !important;
}

.table th{
    border: #ADADAD solid 1px !important;
}

.table>tbody>tr>td {
    vertical-align: middle;
}
/* .table tbody tr:hover{
    background-color: rgba(255, 255, 255, 1) !important;
} */
