.toolModalOverlay {
    position: absolute;
    lfet: 0;
    left: 0;
    top: 0;
       width: 100%;
    height: 100vh;
    z-index: 9000;
    background-color: rgba(0, 0, 0, 0.8);
}

.toolModal {
    width: 52vw;
    height: 67vh;
    background-color: #fff;
    position: absolute;
    top: 12%;
    left: 24%;
    z-index: 9000;
    border-top: 3px solid #111827;
    border-right: 1px solid #111827;
    border: 1;
    border-left: 1px solid #111827;
    border-bottom: 1px solid #111827;
}

.toolHeader {
    padding: 1%;
    margin-bottom: 0;
    border-bottom: solid 1px #4B5563;
}

.toolContainer {
    width: 100%;
    height: 55vh;
    display: flex;
    background-color: #d1d5db;
    border-bottom: 1px solid #111827;
}

.buttonContainer {
    position: absolute;
    right: 20px;
    top: 9px;
    font-size: large;
}
