/*
 * Copyright (C) 2021 Sienci Labs Inc.
 *
 * This file is part of gSender.
 *
 * gSender is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, under version 3 of the License.
 *
 * gSender is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with gSender.  If not, see <https://www.gnu.org/licenses/>.
 *
 * Contact for information regarding this program and its license
 * can be sent through gSender@sienci.com or mailed to the main office
 * of Sienci Labs Inc. in Waterloo, Ontario, Canada.
 *
 */

.unlock-button {
  position: absolute;
  left: 20px;
  top: 20px;
  color: #FFFFFF;
  background: rgba(249, 161, 59, 0.5);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: solid 2px #FFFFFF;
  transition: 100ms ease-in-out;

  &:hover {
    background: rgba(249, 161, 59, 0.7);
    cursor: pointer;
  }

  i{
    font-size: 2rem !important;
  }
}

.unlock-indicator {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(101%, -50%);
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  font-weight: bold;
  i {
    font-size: 2.2rem !important;
  }
}

@keyframes pulse {
0%, 100% {
    opacity: 1;
}
50% {
    opacity: .5;
}
}

.unlock-text {
  margin-left: 0.5rem;
  font-weight: bold;
}
