.toaster-container {
  position absolute;
  bottom: 20px;
  left: 20px;
  z-index: 10000;
  display: flex;
  flex-direction column-reverse;
  width: 30%;
}


.toast-wrapper {
  background: #FFFFFF;
  width: 100%;
  z-index: 10000;
  border-radius: 0.5rem;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items stretch;
  border: solid 1px #d1d5db;
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  margin-top: 10px;
  justify-content space-between;
  transition: ease-in 200;
  position: relative;
}

.toast-icon {
  display: flex;
  flex-direction column;
  color: #FFFFFF;
  width: 4rem;
  background: #111827;
  align-items center;
  justify-content center
  padding: 0 0.5rem;
  font-size: 2rem !important;
}

.toast-info {
  background: #3e85c7;
}
.toast-warning {
  background: #d97706;
}
.toast-danger {
  background: #dc2626;
}
.toast-success {
  background: #059669;
}

.toast-content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 2rem;
}

.toast-progress {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.toast-progress-bar {
  background: #283048;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 3px;
  transition: width 50
}

.toast-close {
  padding: 0 0.5rem;
  display: flex;
  align-items center;
  justify-content center

  button {
    background: none;
    border: none;
    outline: none
    color: #4b5563;
    text-align center;
    i {
      font-size: 2rem !important;
    }
  }
}

.toast-appear-enter-active {
  left: -150%;
}

.toast-appear-enter-done {
  left: 0;
  transition: left 150ms ease-in;
}

.toast-appear-exit-active {
  opacity: 0;
  transition: opacity 150ms ease-in;
}

.toast-appear-exit-done {
  opacity: 1;
  transition: opacity 150ms ease-in;
}
