
.header {
  display: flex;
  align-items center;
  margin-bottom: 0;
  border-bottom: solid 1px #9CA3AF;
  height: 60px;
}

.header-text {
  margin: 0;
  margin-left: 1rem;
}

.container {
  padding: 0.5rem 1rem;
  background-color: #e5e7eb;
  display: grid;
  grid-template-rows: 6fr 1fr;
  height: 100%;
  row-gap: 1rem;
}

.main-container {
    display: grid;
    grid-template-columns: 3fr 4fr;
    gap: 2rem;
}

.input {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 2fr;
    margin: 0 10px 1.5rem !important;
    align-items: center;

    label {
      font-size: 1.1rem;
      align-self: center;
    }
}

.max-depth {
  margin-bottom: 0 !important;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
}

.units {
  padding: 6px;
  height: 34px;
  align-self: center;
  margin-top: 6px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dimensions {
  display: grid;
  grid-template-columns: 4fr 1fr 5fr;
}

.dimension-input {
  grid-template-columns: none;
  gap: 0;
  text-align: center;
  margin: 0 !important;
}

.x {
  justify-self: center;
  align-self: center;
  font-size: 1.5rem;
  margin-top: 8px;
}
