.button-area {
    display: grid;
    justify-content: center;
    grid-template-columns: 30%;
}

.step-control {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 14px;
    color: #3e85c7;
}

.step-1a {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    justify-items: center;
    align-items: center
}

.alignment-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
    margin-top: 1rem;
    height: 95%;
}

.action-item-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.action-input {
    width: 100px;
    text-align: center;
    display: inline;
}

.result {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    font-size: 1.5rem;
    line-height: 1.75;

    p {
        margin: 0;
    }

    i {
        font-size: 3rem !important;
    }
}


.diagram-wrapper {
    width: 100%;
    display: flex;
    align-items center;
    justify-content center;

    img {
        width: 65%;
    }
}

.hidden {
    display: none;
}
