.idle-info {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;

    // table {
    //     margin: auto;
    //     width: 100%;
    //     max-width: 500px;
    // }

    // th {
    //     font-weight: bold;
    //     font-size: 1.25rem;
    // }

    // td, th {
    //     text-align: center;
    //     padding: 7px;
    // }
}

.axis-letter {
    font-weight: bold;
    font-size: 1.75rem;
}

.file-name {
        font-weight: bold;
}