.idle-info {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
}

.axis-letter {
    font-weight: bold;
    font-size: 1.75rem;
}

.file-name {
        font-weight: bold;
}