.disconnected-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-grow: 1;
    align-items center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    background: #e5e7eb;
}

.idle-info {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.idle-info-row {
    display: flex;
    flex-direction: row;
    justify-content space-around;
    width: 100%;
    background: #e5e7eb;
}

.additional-info {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    margin-top: 1rem;
}

.axis-letter {
    font-weight: bold;
    font-size: 1.75rem;
}

.file-name {
    color: #3e85c7;
    font-size: 1.2em;
}

.file-stat {
    display: flex;
    flex-direction column;
    border-left: solid 3px #d1d5db;
    width: 20%;
    padding-left: 1em;
    align-items center;
    flex-grow: 1;
    box-sizing border-box;
    &:first-child {
        border: none;
    }
}

.file-stat-container {
    margin-bottom: 1em;
    display: flex;
    flex-direction column;
    justify-content space-between;
    flex-grow: 1;

}

.file-stat-content {
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 1em;
    text-align center;
}

.file-stat-label {
    margin-top: 0.5em;
    color: #6b7280;
    text-align center;
}
