.wrapper {
    font-size: 1rem;
    font-weight: 200;
    display: flex;
    flex-direction: row;
    justify-content center;
    align-items center;
    width: 100%;
    background: #e5e7eb;
    border: solid 1px #c9cdd3;
}

.progress-area {
        width:50%;
        padding: 0 2em;
        position: relative;
}

.progress-area-table {
    width: 100%;
}

.times {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.settings-area {

    primary = #D1D5DB;
    secondary = #333;
    width: 50%;
    padding: 0 2em;
    label {
        margin-bottom: 0;
        background-color: primary;
        padding: 3px 3px;
        color: #3E85C8;
        border: 1px solid #9CA3AF;
        min-width: 30px;
        width: 100%;
        text-align: center;
    }

    button {
        background-color: primary;
        border: 1px solid #9CA3AF;
        color: secondary;
        min-height: 35px;

        &:disabled {
            background-color: rgba(116,118,133,0.5);
            border: 1px solid rgba(116,118,133,0.1);
            color: rgba(116,118,133,0.5);
        }
    }

    input {
        color: #7A93D6;
        width: 100%;
        max-width: 50px;
        font-weight: 800;
    }
}

.lines-processed {
    position: absolute;
    top: 25%;
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);

}

.seperator {
    background-color: #D3D3D3;
    width: 1px;
    height: 100px;

    @media(max-width: 1440px){
        display: none;
    }
}
