/*
 * Copyright (C) 2021 Sienci Labs Inc.
 *
 * This file is part of gSender.
 *
 * gSender is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, under version 3 of the License.
 *
 * gSender is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with gSender.  If not, see <https://www.gnu.org/licenses/>.
 *
 * Contact for information regarding this program and its license
 * can be sent through gSender@sienci.com or mailed to the main office
 * of Sienci Labs Inc. in Waterloo, Ontario, Canada.
 *
 */

@import '../variables';
@import '../styles/sienci-theme';


::root {
    &::-webkit-scrollbar {
        display: none;
    }
}
.disabled {
    opacity: .5;
    cursor: no-drop;
    color: #999;
    pointer-events: none;
}

.workspace {
    overflow-y: overlay;
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    line-height: 1.5rem;
    background: none;
    position: relative;
    @media (max-width: 639px), (max-device-width: 639px) {
    overflow-y: visible;
    }
    &::-webkit-scrollbar {
        display: none;
    }

    .dropzone-overlay {
        position: fixed;
        z-index: 100;
        background-color: rgba(255, 255, 255, .5);
        border: 4px dashed #286090;
        text-align: center;
        pointer-events: none;

        &.hidden {
            display: none;
        }

        .text-block {
            position: absolute;
            top: 25%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #666;
            font-size: 32px;
        }
    }

    .dropzone {
        height: calc(var(--vh, 1vh) * 100);
    }

    .workspace-table {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width: 100%;
        height: 100%;
        max-height: 100%;
        background-color: #d1d5db
        position: relative;
    }

    .workspace-table-mobile {
        //overflow-y: auto;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width: 100%;
        height: calc(100% + 4.5rem);
        background-color: #d1d5db
        position: relative;
    }

    .workspace-table-row {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        box-sizing border-box;
        padding: 10px 15px;
        height: calc(100% - 4.5rem);
        justify-content: center;
        align-content: center;
    }

    .workspace-table-row-mobile {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        box-sizing border-box;
        padding: 10px 15px;
        min-height: fit-content;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-content: center;
    }

    .primary-container, .secondary-container, .primary-toggler, .secondary-toggler, .default-container {
        display: flex;
        flex-direction: column;
        position: relative;
    }


    .secondary-container {
        border-left: 1px solid #ccc;
    }

    .primary-container {
        height: 100%;
        width: 33%;
        min-width: 365px;
        max-width: 500px;
        overflow: hidden;
        &.hidden {
            display: none;
        }
    }

    .primary-container-mobile {
        height: calc(100% - 10rem);
        width: 100%;
        overflow-y: auto;
        &.hidden {
            display: none;
        }
    }

    .reverse-workspace {
        flex-direction: row-reverse;
    }

    .primary-toggler {
        border-right: 1px solid #ccc;
    }

    .secondary-toggler {
        border-left: 1px solid #ccc;
    }

    .default-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-between;
        background-color: #d1d5db;
        width: 66%;
    }
}

@media (max-width: 639px), (max-device-width: 639px) {
    .primary-container{
        min-height: 650px;
    }
}

.consent-popup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: absolute;
    bottom: 0;
    left: 0;

    background: $primary;
    width: 100%;
    height: 250px;
    z-index: 999;
    padding: 1rem;

    animation: consent-popup-animation 2s forwards;
    animation-delay: 2s;

    transform: translate(0, 250px);

    .close-area {
        display: flex;
        justify-content: flex-end;

        button {
            padding: 0.25rem 0.5rem 0.1rem;
            background-color: transparent;
            color: white;
            border: none;
            animation: background-color 250ms ease-in-out;

            &:hover {
                background-color: white;
                color: $primary;
                animation: background-color 250ms ease-in-out;
            }
        }

        i {
            font-size: 2rem !important;
        }
    }
}

.consent-area {
    display: flex;
    justify-self: center;
    align-self: center;
    color: white;
    height: 100%;
    align-items: center;
    padding: 0 3rem;

    h2 {
        color: white;
        margin: 0 0 0.5rem 0;
    }

    p {
        font-size: 1.25rem;
    }

    i {
        font-size: 4rem !important;
        margin-right: 2rem;
    }
}

@keyframes consent-popup-animation {
    from {
        transform: translate(0, 250px);
    }
    
    to {
        transform: translate(0);
    }
}