.widgets {
    min-height: 240px; // Keep a minimum space for dropping widgets
    // margin-top: 1vh;
    :global {
        // Class name for the chosen item
        .sortable-chosen {
            opacity: .8;
        }

        // Class name for the drop placeholder
        .sortable-ghost {
            opacity: .4;
        }
    }
}

.default-widgets {
    margin: 0 10px;
    display: flex;
    flex-grow: 1;
    flex-direction column;
}

.default-widget-wrapper {
    margin: 2px 10px 0 10px;
    display: flex;
    flex-grow: 1;
    flex-direction column;

    &:first-child {
        position: relative;
    }

    &:last-child {
        display: flex;
        align-items: center;
    }
}
