.widgets {
    min-height: 240px; // Keep a minimum space for dropping widgets

    :global {
        // Class name for the chosen item
        .sortable-chosen {
            opacity: .8;
        }

        // Class name for the drop placeholder
        .sortable-ghost {
            opacity: .4;
        }
    }
}

.default-widgets {
    height: 100%;
}

.default-widget-wrapper {
    &:first-child {
        position: absolute;
        bottom: 25%;
        width: 100%;
        height: 75%;
    }

    &:last-child {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        align-items: center;
    }
}
