.errorMessage {
  margin-left: -79px;
  margin-top: 0;
  margin-bottom: 12px;
  width: 216px;
}

.switch {
  display: flex;
  flex-direction: row;
  align-items center;
}

.inputGroupAddon {
  padding: 3px 14px;
  margin-left: -6px;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
}

.control-wrapper {
  display: flex;
  flex-direction column;
  gap: 0.5rem;
  width: 100%;
  align-items center;
}

.control-row {
  display: flex;
  flex-direction: row;

}

.mask2 {
  margin-left: 15vw;
  margin-top: 108px;
}

.threeOnoffswitches {
  position: relative;
  width: 48px;
  margin: -144%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch {
  position: relative;
  width: 48px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.mPos {
  margin-top: -26px;
  margin-bottom: 13px;
  margin-left: -43%;
}

.onoffswitchcheckbox {
  opacity: 0;
  pointer-events: none;
}

.onoffswitchlabel {
  display: block;
  overflow: hidden;
  margin-top: -50px;
  cursor: pointer;
  height: 24px;
  line-height: 28px;
  border: 0 solid #fff;
  border-radius: 39px;
  background-color: #9e9e9e;

  &:hover {
    background-color: #ccc;
    transition-duration: .2s;
  }
}

.onoffswitchlabel:before {
  content: '';
  display: block;
  width: 22px;
  right: 30px;
  margin: -5px;
  background: #fff;
  position: absolute;
  top: 6px;
  bottom: 5px;
  height: 22px;
  border-radius: 30px;
  transition-duration: .7s;
}

.onoffswitchcheckbox:checked + .onoffswitchlabel {
  background-color: #42A5F5;
}

.onoffswitchcheckbox:checked + .onoffswitchlabel, .onoffswitchcheckbox:checked + .onoffswitchlabel:before {
  border-color: #42A5F5;
}

.onoffswitchcheckbox:checked + .onoffswitchlabel .onoffswitchinner {
  margin-left: 0;
}

.onoffswitchcheckbox:checked + .onoffswitchlabel:before {
  right: 6px;
  background-color: #ffffff;
  border-color: #42A5F5;
  box-shadow: 3px 6px 18px 0 rgba(0, 0, 0, .2);
}

.threeToggles {
}

.singleToggles {
  margin-top: 50px;
}

.maskTwoTitles {
  font-size: 1rem;
  margin-right: 1rem;
  text-align: right;
}

.toggleTitles {
  margin-right: 67px;
  text-align: right;
}

input.formControlModal[type='number']:disabled {
  cursor: not-allowed;
}

input.formControlModal[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  opacity: 1 !important;
  background: transparent !important;
  border-width: 0;
  margin: 0;
  border-left: 1px solid #d8d8d8;
  height: 34px;
  width: 23px;
  cursor: pointer;
}

.enable {
  font-size: 1rem;
  margin-left: 14px;
}

.disable {
  margin-right: 11px;
  font-size: 1rem;
}

input.formControlModal {
  color: #0096cc;
  height: 33px;
  width: 10rem;
  border-radius: 4px;
  border: 1px solid #d8d8d8;
  position: relative;
  text-align: center;
  font-size: 1.2rem;
  outline: none;
  background-position: center right;
  background-repeat: no-repeat;
  caret-color: #0096cc;
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20version%3D%221.1%22%20viewBox%3D%220%200%2050%2067%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20stroke-width%3D%222%22%3E%3Cline%20x1%3D%221%22%20x2%3D%2250%22%20y1%3D%2233.5%22%20y2%3D%2233.5%22%20stroke%3D%22%23D8D8D8%22%2F%3E%3Cpolyline%20transform%3D%22translate(25%2020)%20rotate(45)%20translate(-25%20-20)%22%20points%3D%2219%2026%2019%2014%2032%2014%22%20stroke%3D%22%23000%22%2F%3E%3Cpolyline%20transform%3D%22translate(25%2045)%20rotate(225)%20translate(-25%20-45)%22%20points%3D%2219%2052%2019%2039%2032%2039%22%20stroke%3D%22%23000%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}

.control-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5rem;
  font-size: 1rem;
}

.left-label {
  text-align right;
}

.centered-control {
  align-items center;
  justify-content center;
  display flex;
}
