.NavLogo {
  margin: 0 20px 0 10px;
  position: relative;
  img {
    width: 40px;
    height: 40px;
  }
}

.updateNotification {
  position: absolute;
  display: flex;
  align-items center;
  justify-content center;
  bottom: -0.5rem;
  right: -1rem;
  font-size: 1.2rem;
  background-color: #06b881;
  border-radius: 9999px;
  width: 2rem;
  height: 2rem;
  color: #FFFFFF;
  animation: bounce 1s infinite;
  border: none;
  outline: none;
}

@keyframes bounce {
0%, 100% {
    transform: translateY(-25%);
animationTimingFunction: cubic-bezier(0.8, 0, 1, 1);
}
50% {
    transform: translateY(0);
animationTimingFunction: cubic-bezier(0, 0, 0.2, 1);
}
}
