.NavbarConnection {
  display: flex;
  flex-direction: row;
  position: relative;
  border: solid 1px #374151;
  background: #111827;
  color: white;
  border-radius: 0.25rem;
  justify-content space-between;
  align-items center;
  padding: 0.25rem 1rem;
}

.NavbarConnectionIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4B5563;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1.8rem;
  border-radius: 9999px;
  margin-right: 0.5rem;
}

.NavbarDropdown {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content space-between;
  align-items: center;
  background: #374151;
  font-family Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  padding: 1rem 0.5rem
  width: 100%;
  margin: 0;
  border: 0;
  --tw-bg-opacity: 0.8;
  font-size: 1.2rem;
}


.NavbarConnectionDropdownToggle {
  background: none;
  text: white;
}

.NavbarPortListingInfo {
  display: flex;
  flex-direction column;
}

.NavbarPortListingPortLabel {

}

.NavbarPortListingPortManufacturer {
  font-family "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  text-align right
  color: #9CA3AF;
}
