.chartDiv {
    padding: 20px;
    background-color: rgba(25, 53, 80, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 70px;
}

.input {
    color: black;
}

/* body and html css to overwrite changes from tanstack table package */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 2rem;
    color: #222;
    background-color: #fff;
}

html {
    font-size: 12px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.tableContainer{
    padding: 20px;
    background-color: rgba(25, 53, 80, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 70px;
}

.navContainer {
    display: flex;
    flex-direction: column;
}

.table {
    border: none !important;
}

.table td{
    border: #ADADAD solid 1px !important;
}

.table th{
    border: #ADADAD solid 1px !important;
}