.shortcutWrapper{
    z-index: -1;
    position: absolute;
    max-height: 4rem;
    overflow: hidden;
    .table {
        padding: 1rem;
        table{
            background-color:#FFFFE0;
            border:1px solid;
            color:#000;
            max-height: 21vh !important;
        }
        th{
            background-color:#1f2937;
            font-weight: 800;
            color:white;
            width:50%;
            border:1px solid;
        }
        td{
            border-bottom:1px dotted #BDB76B;
        }
    }
}
    @media print{    
        .shortcutWrapper{
            max-height: 40rem;
            overflow: visible;
        }
    }