/*
 * Copyright (C) 2021 Sienci Labs Inc.
 *
 * This file is part of gSender.
 *
 * gSender is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, under version 3 of the License.
 *
 * gSender is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with gSender.  If not, see <https://www.gnu.org/licenses/>.
 *
 * Contact for information regarding this program and its license
 * can be sent through gSender@sienci.com or mailed to the main office
 * of Sienci Labs Inc. in Waterloo, Ontario, Canada.
 *
 */
.dropdown {
  background-color: white;
  padding: 4px 6px;
  border: 1px solid #3e85c7;
  border-radius: 3px;
}

.dropdown-item {
  display: block;
  padding: 0.5rem 1.5rem;
}

.macro-commands {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}
.btn-link {
  color: #222;
  padding-left: 0;
  padding-right: 0;
  box-shadow: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}


.macro-variables-dropdown {
  max-height: 180px;
  overflow-y: auto;
}

.spread-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
