.container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow 1;
    align-items center
    justify-content center;
}

.selectorWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(auto, 1fr) minmax(auto, 1fr);
    border: solid 1px #9CA3AF;
    border-radius: 5px;
    grid-gap: 1px;
    background-color: rgba(209, 213, 219, 0.6);
}

.selectorButton {
    border: none;
    background: rgba(62,133,199, 1);
    color: #FFFFFF;
    font-size: 1.1rem;
    font-weight: normal;
    align-self: center;
    justify-content: center;

    &:hover:enabled {
        background-color: #77a9d7;
    }

    &:disabled {
        color: #9ca3af;
        background-color: #D9DCE1;
        cursor: no-drop;
    }

    i {
        margin-right: 0.25em;
        font-size: 1rem;
    }
}