.controller {
    width: 100%;
    padding: 1rem;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 0.75rem;
    min-height: 250px;
    position: relative;

    button {
        border-color: transparent;
        cursor: default;
    }
}

.top-area {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.seperator {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.standard-controller-area {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 2rem;
}

.left-side, .right-side {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.25rem;
    justify-items: center;
    align-items: center;

    i {
        font-size: 3rem !important;
    }
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.left-thumbstick-wrapper, .right-thumbstick-wrapper {
    background: grey;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        width: 75%;
        height: 75%;
        background-color: black;
        border: 2px solid black;
        border-radius: 50%;
    }
}

.left-thumbstick-wrapper {
    bottom: 10px;
    left: 35%;
}

.right-thumbstick-wrapper {
    bottom: 10px;
    right: 35%;
}

.grid-button-layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
    grid-gap: 1rem;
    width: 100%;
}

.non-standard-controller {
    display: grid;
    grid-template-rows: 20% 80%;
    justify-items: center;
    gap: 0.5rem;
    height: 100%;
}

.action-item {
    padding: 0.5rem 1.5rem;
    border-radius: 2;
    background-color: white;
    color: black;
    border: transparent;

    &-active {
        @extend .action-item;
        background-color: green;
        color: white;
    }
}

.joystick-option {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.25rem;

    & > input[type="checkbox"] {
        width: 20px;
        height: 20px;
        justify-self: center;
    }
}

.joystick-option-input {
    margin: 0 !important;
    grid-column: span 2;
}

.disabled-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100%;
    
    backdrop-filter: blur(5px);
}