/*
 *     This file is part of gSender.
 *
 *     gSender is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     gSender is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 *     along with gSender.  If not, see <https://www.gnu.org/licenses/>.
 */

.display-panel {
    align-items center;
    .coordinate {
        position: relative;
        padding: 5px 0;
        text-align: center;
        width: 1%;
        display: flex;
        gap: 2px;

        .axis {
            font-size: 24px;
        }
    }

    .machine-position, .work-position {
        position: relative;
        white-space: nowrap;
        padding: 0;
        width: 13ch;
    }

    .action {
        width: 1%;
        padding: 0;
        text-align: center;

        button.action-dropdown {
            min-width: auto;
            border-radius: 0;

            > * {
                color: #666;
            }

            &:disabled:hover {
                background-color: inherit;

                > * {
                    color: #666;
                }
            }

            &:hover {
                background-color: #e6e6e6;

                > * {
                    color: #333;
                }
            }
        }
    }
}
