@import "display-panel";
@import "rotate";
@import "keypad";
@import "LocationPanel";
@import "../../styles/variables";

.widget-content {
    position: relative;
    padding: 10px;

    &.hidden {
        display: none;
    }
}

.hideHoming {
    display: none;
}

.row-space {
    margin-bottom: 5px;

    &:last-child {
        margin-bottom: 0;
    }
}
.col-space {
    margin-right: 5px;
}

.position-label {
    display: inline;
    border: 1px solid #9CA3AF;
    padding: 4px;
    margin-left: 5px;
    font-size: 0.8rem;

    &:hover {
        background-color: rgba(0, 0, 0, .05);
    }
}

.movement {
    background: #3e85c7;
    color: #FFFFFF;
}


.axes-position-label {
    font-family: $font-family-monospace;
}

.control-buttons {
    padding: 0 2rem
    display: flex;
    flex-grow 1;
    flex-direction column;
   padding: 0 1rem;
    button {
        margin-bottom: 10px;
    }
}

.display-panel {
    height: 100%;
    width: 100%;

}
.location-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.machine-position {
    width: 15ch;
    align-items center;
}

.end-stop-active-controls {
    width: 30%;
    height: 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0,1fr));
    right: 15px;
    top: 0;
    padding-bottom: 40%;
}

.quickPositionButton {
    background: #3e85c7;
    color: #FFFFFF;
    border: none;
    i {
        text-align left;
    }
    &:active {
        outline: none;
    }
    &:hover:enabled {
        background: #5191cc
    }

    &:disabled {
        background: rgb(204, 204, 204);
        color: #9ca3af;
    }
}

.runHomeButton {
    grid-row: 1;
    grid-column: 1/4;
    line-height: 1px;
    height: fit-content;
    padding: 8px
    margin-top: 0;
}

.QPBR {
    clip-path: polygon(0% 0%, 0% 45%, 55% 46%, 55% 100%, 100% 100%, 100% 0%);
    grid-row: 2;
    grid-column: 2/3;
    width: 130%;
    margin-left: 70%;
	height: 0;
	padding: 0;
	padding-top: 130%;
	margin-top: 100%;

    i {
        transform: translateY(-420%) rotate(45deg);
		display: block;
		text-align: right;
        font-size: 1.7rem;
        position: relative;
    }
}
.QPBL {
    clip-path: polygon(0 0,100% 0,100% 45%,45% 45%,45% 100%,0 100%);
    grid-row: 2;
    grid-column: 1/2;
    width: 130%;
    height: 0;
	padding: 0;
	padding-top: 130%;
	margin-top: 100%;


    i {
       transform: translateY(-420%) rotate(315deg);
		display: block;
        font-size: 1.7rem;
        position: relative;
    }
}
.QPFR {
    clip-path: polygon(100% 100%, 100% 0%, 55% 0%, 55% 55%, 0% 55%, 0% 100%);
    grid-row: 3;
    grid-column: 2/3;
    width: 130%;

    margin: 70% 0 0 70%;
		height: 0;
		padding: 0;
		padding-top: 130%;
		margin-top: 260%;

    i {
        transform: rotate(135deg);
        font-size: 1.7rem;
        bottom: -1.45rem;
        position: relative;
        bottom: 8px;
		display: block;

    }
}
.QPFL {
    clip-path: polygon(0% 100%, 100% 100%, 100% 55%, 45% 55%, 45% 0%, 0% 0%);
    grid-row: 3;
    grid-column: 1/2;
    margin-top: 70%;
    width: 130%;


    height: 0;
		padding: 0;
		padding-top: 130%;
		margin-top: 260%;

    i {
        transform: rotate(225deg);
        font-size: 1.7rem;
        bottom: -1.45rem;
        position: relative;
        bottom: 8px;
		display: block;
		text-align: right;

    }
}


.workspaceDropdown {
    font-size: 1.1rem;
    line-height: 1.5rem;
}

.smallIcon {
    font-size: 0.9rem !important;
}


.logo-wrapper {
    display: flex;
    flex-grow 1;
    justify-content center;
    align-items center;
}

.button-wrap {
    display: grid;
    width: 100%;
    grid-gap 10px;
    grid-template-columns repeat( 2, 1fr );
    flex-direction: row;
    flex-wrap: wrap;
}

.button-wrap {
    display: grid;
    width: 100%;
    grid-gap 10px;
    grid-template-columns repeat( 2, 1fr );
    flex-direction: row;
    flex-wrap: wrap;
}


.font-monospace {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
}
