@import "display-panel";
@import "rotate";
@import "keypad";
@import "LocationPanel";
@import "../../styles/variables";

.widget-content {
    position: relative;
    padding: 10px;

    &.hidden {
        display: none;
    }
}

.row-space {
    margin-bottom: 5px;

    &:last-child {
        margin-bottom: 0;
    }
}
.col-space {
    margin-right: 5px;
}

.position-label {
    display: inline;
    border: 1px solid #9CA3AF;
    padding: 4px;
    margin-left: 5px;
    font-size: 0.8rem;

    &:hover {
        background-color: rgba(0, 0, 0, .05);
    }
}

.movement {
    background: #3e85c7;
    color: #FFFFFF;
}


.axes-position-label {
    font-family: $font-family-monospace;
}

.control-buttons {
    button {
        margin-bottom: 10px;
    }
}


