.location-wrapper {
    display: flex;
    justify-content: center;
    align-items: inherit;

    .buttonwrap {
        margin-top: 1vh;
    }

    .displaypanelTable {
    }

    .control-buttons {
        align-items: center;
        align-content: center;
        align-self: center;
    }

    .endStopsActive {
        display: block;
        align-self: center;
        width: 25%;
    }

    .endStopsDisabled {
        display: none;
    }

    .endStopActiveControls {
        padding: 1%;
        align-content: space-around;
        flex-wrap: wrap;
        display: flex;
        width: 30%;
        margin-right: -2vw;
        margin-top: -2%;
        display: flex;
        justify-content: center;
    }

    .buttoncontainer {
        border: 5px solid black;
        display: flex;
    }

    .quicktravel {
        width: 100%;
        max-width: 10rem;
        font-size: 14px;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .centerhomebutton {
        white-space: nowrap;
        text-align: center;
        border: solid 1px #9ca3af;
        color: #3e85c7;
        border-radius: .25rem;
        background-color: rgba(209, 213, 219, .6);
        display: flex;
        justify-content: center;
        -webkit-box-pack: center;
        align-items: center;
        --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
        -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
        padding: .25rem;
        transition: 200ms ease-in-out;
        font-size: .9rem;
        font-weight: normal;

        &:hover {
            transform: scale(1.1);
            border: 1px solid #3e85c7;
            transition: 200ms ease-in-out;
            background-color: #E5E7EB;
            border-radius: .25rem;
            --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
            box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        }

        &:disabled {
            color: #6F7376;
            background-color: #D9DCE1;
            border: 1px solid #6F7376;
            cursor: no-drop;
            font-size: 14px;
            --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
            box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        }
    }

    .backleft {
        background-color: #3e85c7;
        clip-path: polygon(0 0, 100% 0, 100% 40%, 40% 40%, 40% 100%, 0 100%);
        width: 30%;
        height: 30%;
        justify-content: flex-start;
        flex-direction: column;
        margin-top: 4px;
        display: flex;
        border: none;
        outline: none;
        vertical-align: top;
        text-align: left;
        margin-right: auto;
        --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        max-height: 40px;
        max-width: 40px;
        min-width: 35px;
        min-height: 35px;

        &disabled {
            background-color: #3e85c7;
            clip-path: polygon(0 0, 100% 0, 100% 40%, 40% 40%, 40% 100%, 0 100%);
            width: 30%;
            height: 30%;
            justify-content: flex-start;
            margin-top: 4px;
            display: flex;
            flex-direction: column;
            border: none;
            outline: none;
            vertical-align: top;
            text-align: left;
            margin-right: auto;
            max-height: 40px;
            max-width: 40px;
            min-width: 35px;
            min-height: 35px;
            opacity: .6;
            cursor: no-drop;
            pointer-events: none;
        }

        &:hover {
            transform: scale(1.1);
            background-color: #5191cc;
            --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
            box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        }
    }

    .blhomeicon {
        color: white;
        display: flex;
        align-self: flex-start;
        margin-right: auto;
        margin-left: -6px;
    }

    .backRight {
        background-color: #3e85c7;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 100%, 60% 40%, 0 40%);
        margin-left: auto;
        border: none;
        display: flex;
        margin-top: 4px;
        outline: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        width: 30%;
        height: 30%;
        margin-left: auto;
        max-height: 40px;
        max-width: 40px;
        min-width: 35px;
        min-height: 35px;

        &disabled {
            background-color: #3e85c7;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 100%, 60% 40%, 0 40%);
            margin-left: auto;
            border: none;
            display: flex;
            margin-top: 4px;
            outline: none;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;
            width: 30%;
            height: 30%;
            margin-left: auto;
            max-height: 40px;
            max-width: 40px;
            min-width: 35px;
            min-height: 35px;
            opacity: .6;
            cursor: no-drop;
            pointer-events: none;
        }

        &:hover {
            transform: scale(1.1);
            background-color: #5191cc;
            --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
            box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        }
    }

    .brhomeicon {
        color: #fff;
        font-size: 18px;
        margin-right: -5px;
    }

    .frontleft {
        clip-path: polygon(0 0, 40% 0, 40% 60%, 100% 60%, 100% 100%, 0 100%);
        background-color: #3e85c7;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 30%;
        height: 30%;
        border: none;
        outline: none;
        margin-right: auto;
        max-height: 40px;
        max-width: 40px;
        min-width: 35px;
        min-height: 35px;

        &disabled {
            clip-path: polygon(0 0, 40% 0, 40% 60%, 100% 60%, 100% 100%, 0 100%);
            background-color: #3e85c7;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 30%;
            height: 30%;
            border: none;
            outline: none;
            opacity: .6;
            margin-right: auto;
            max-height: 40px;
            max-width: 40px;
            min-width: 35px;
            min-height: 35px;
            opacity: .6;
            cursor: no-drop;
            pointer-events: none;
        }

        &:hover {
            transform: scale(1.1);
            background-color: #5191cc;
            --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
            box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        }
    }

    .flhomeicon {
        color: #fff;
        margin-left: -6px;
        margin-top: 62px;
    }

    .frontright {
        clip-path: polygon(60% 60%, 60% 0, 100% 0, 100% 100%, 0 99%, 0 60%);
        background-color: #3e85c7;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        align-items: flex-end;
        align-content: flex-end;
        justify-content: flex-end;
        border: none;
        outline: none;
        margin-left: auto;
        margin-top: auto;
        width: 30%;
        height: 30%;
        margin-left: auto;
        max-height: 40px;
        max-width: 40px;
        min-width: 35px;
        min-height: 35px;

        &disabled {
            clip-path: polygon(60% 60%, 60% 0, 100% 0, 100% 100%, 0 99%, 0 60%);
            background-color: #3e85c7;
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            align-items: flex-end;
            align-content: flex-end;
            justify-content: flex-end;
            border: none;
            outline: none;
            margin-left: auto;
            margin-top: auto;
            width: 30%;
            height: 30%;
            margin-left: auto;
            max-height: 40px;
            max-width: 40px;
            min-width: 35px;
            min-height: 35px;
            opacity: .6;
            cursor: no-drop;
            pointer-events: none;
        }

        &:hover {
            transform: scale(1.1);
            background-color: #5191cc;
            --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
            box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        }
    }

    .frhomeicon {
        color: #fff;
        font-size: 18px;
        margin-right: -5px;
    }
}
