.location-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .control-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        // gap: 1rem;
    }
}