.rotate-45deg {
    color: #fff;
       margin-right: -0.2em;
    transform: rotate(45deg);

    &:before {
        transform: rotate(45deg);
    }
}

.rotate--45deg {
    transform: rotate(-45deg);

    &:before {
        transform: rotate(-45deg);
    }
}

.rotate-90deg {
    transform: rotate(90deg);

    &:before {
        transform: rotate(90deg);
    }
}

.rotate--90deg {
    transform: rotate(-90deg);

    &:before {
        transform: rotate(-90deg);
    }
}

.rotate--225deg {
    color: #fff;
    align-self: flex-end;
    margin-right: -.3em;
    transform: rotate(-225deg);

    &:before {
        transform: rotate(-225deg);
    }
}

.rotate-320deg {
    color: #fff;
    margin-left: -.4em;
    transform: rotate(320deg);

    &:before {
        transform: rotate(320deg);
    }
}

.rotate--135deg {
    color: #fff;
    align-self: flex-end;
    margin-left: -.4rem;
    transform: rotate(-135deg);

    &:before {
        transform: rotate(-135deg);
    }
}
