/*
 * Copyright (C) 2021 Sienci Labs Inc.
 *
 * This file is part of gSender.
 *
 * gSender is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, under version 3 of the License.
 *
 * gSender is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with gSender.  If not, see <https://www.gnu.org/licenses/>.
 *
 * Contact for information regarding this program and its license
 * can be sent through gSender@sienci.com or mailed to the main office
 * of Sienci Labs Inc. in Waterloo, Ontario, Canada.
 *
 */

.widget-content {
    position: relative;
    padding: 10px;

    &.hidden {
        display: none;
    }
}

.hidden {
    visibility: hidden !important;
}

.probe-command-description {
    height: 30px;
}

.probe-axis-description {
    height: 15px;
}

.probe-options-row {
    .probe-options-col:nth-child(odd) {
        padding-right: 5px;
    }
    .probe-options-col:nth-child(even) {
        padding-left: 5px;
    }
}
.probe-flex {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items center;
    justify-content: space-around;
}
.probe-options-col {
    width: 50%;

    label {
        @media (max-height: 820px) {
            display: none;
        }
    }
}
.probe-settings-col {
    display: flex;
    flex-direction: column
    width: min(50%, 15vh)
}

.row-spread {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.probeStatus {
    width: 100%;
    display flex;
    flex-direction column;
    justify-content center;
    align-items center;
    h5 {
        text-align center;
        font-weight: bold;
    }
    span {
        margin-top: 10px;
    }
}
.probeIndicator {
    width: 30px;
    height: 30px;
    border-radius: 9999px;
    background: #000;
}

.circuit-open, .mini-circuit-status {
    background: #DC2626
}

.circuit-closed {
    background: #059669;
}

.mini-circuit-status {
    width: 2rem;
    height: 1rem;
    display: inline-block;
    margin-left: 1rem;
    border-radius: 0.25rem;
}


.modalHeader {
    background: #1f2937;
    color: #3e85c7;
}

.run-probe-body {
    width: 600px;
    min-height: 200px;
    display: flex;
    flex-direction: row;
}

.left {
    width: 60%;
    display flex
    flex-direction column
    justify-content space-between;
}
.right {
    width: 40%;
    display flex
    flex-direction column
}

.probe-timer {
    width: 100%;
    text-align center;
}

.img-hidden {
    display: none;
}

.img-wrap {
    display: flex;
    width: 100%;
    align-items center;
    justify-content center;

    > img {
        width: 15vh;
        margin: 0 auto
    }
}

.height-override {
    height: 100% !important;
}

.probeDiameterWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;

    input {
        width: 100%;
        outline: none;
        text-align center;
        &:focus {
            outline: none;
        }
    }
}

.main-wrapper {
    width: 100%;
    height: 100%
    margin: auto;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 1rem;
}

.main-grid {
    height: 100%;
    display: grid;
    grid-template-rows: 4fr 2fr;
    align-self: center;
    gap: 0.5rem;
}

.main-grid-item {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 1rem;
    align-items: center;
}

.secondary-flexbox {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-self: flex-end;
}

.slider-wrapper {
    width: 70%;
    margin: 0 auto 2.5rem;
}

.tools-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.probe-button {
    margin: auto;
    width: 100%;
    max-width: 125px;
    height: max(25px, 3vh);
    align-self: flex-start;
}

.axis-buttons-wrapper {
    display: flex;
    width: 100%;
}

.axis-button {
    margin: 0;
    border-radius: 0;
    position: relative;
    transition: 250ms ease-in-out;
    height: calc(4vh + 3px);
    border: 1px solid #9ca3af;
    border-right: none;

    &:last-child {
        border-right: 1px solid #9ca3af;
    }

    &-active {
        @extend .axis-button;

        background-color: rgba(119,169,215,0.3);

        &-indicator {
            width: 100%;
            height: 3px;
            background-color: #3e85c7;
            position: absolute;
            bottom: 0;
        }
    }
}
