.widget-content {
    position: relative;
    padding: 10px;

    &.hidden {
        display: none;
    }
}

.probe-command-description {
    height: 30px;
}

.probe-axis-description {
    height: 15px;
}

.probe-options-row {
    .probe-options-col:nth-child(odd) {
        padding-right: 5px;
    }
    .probe-options-col:nth-child(even) {
        padding-left: 5px;
    }
}
.probe-flex {
    display: flex;
    flex-direction: row;
}
.probe-options-col {
    width: 40%;
}
.probe-settings-col {
    width: 40%;
    display: flex;
    flex-direction: column
}

.row-spread {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.probeStatus {
    width: 100%;
    display flex;
    flex-direction column;
    justify-content center;
    align-items center;
    h5 {
        text-align center;
        font-weight: bold;
    }
    span {
        margin-top: 10px;
    }
}
.probeIndicator {
    width: 30px;
    height: 30px;
    border-radius: 9999px;
    background: #000;
}

.circuit-open, .mini-circuit-status {
    background: #DC2626
}

.circuit-closed {
    background: #059669;
}

.mini-circuit-status {
    width: 2rem;
    height: 1rem;
    display: inline-block;
    margin-left: 1rem;
    border-radius: 0.25rem;
}


.modalHeader {
    background: #1f2937;
    color: #3e85c7;
}

.run-probe-body {
    width: 600px;
    min-height: 200px;
    display: flex;
    flex-direction: row;
}

.left {
    width: 60%;
    display flex
    flex-direction column
    justify-content space-between;
}
.right {
    width: 40%;
    display flex
    flex-direction column
}

.probe-timer {
    width: 100%;
    text-align center;
}

.img-hidden {
    display: none;
}

.img-wrap {
    display: flex;
    width: 100%;
    align-items center;
    justify-content center;

    > img {
        width: 80%;
        margin: 0 auto
    }
}

