.hidden {
  display: none;
}

.visible {
  display: block;
}

.settingscontainer{
    margin: 2%;
    }

.settingvalues {
    font-size: 1rem;
}

.currentsettings{
       display: flex;
    flex-wrap: wrap;
    }