.wrapper {
  position: absolute;
  top: 50%;
  left: 1rem;
  width: 80%;
  transform: translate(0, -50%);
  z-index: 9999;
  display: flex;
  flex-direction column;
  justify-content: space-between;
  transition: all 300ms ease;
}

.wizardWrapper {
  background: white;
  border-radius: 5px;
  display: flex;
  height: 550px;
  flex-direction column;
  align-content: flex-end;
  overflow hidden;
  z-index: 9999;
  transition: all 300ms ease;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: rgba(0,0,0,0.5);
  cursor: pointer;
  justify-content: space-between;
  align-self: center;
}

.minimizedWrapper {
  position: absolute;
  background: white;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0px 20px 20px -17px rgba(255, 159, 16, 0.73);
  transition: all 300ms ease;
}

.wizardContent {
  display flex;
  flex-direction row;
  height: calc(100% - 40px);
  justify-items stretch;
  align-items stretch;
  justify-content stretch
  flex-grow 1;
}

.wizardTitle {
  border-bottom: solid 1px #9ca3af;
  padding: 10px 10px;
  display: flex;
  flex-direction row;
  justify-content space-between;
  align-items center;

  h1 {
    padding: 0;
    margin: 0 1rem 0 0;
    font-size: 1.2rem;
    color: #4b5563;
    font-weight: bold;
  }
}

.infoMsgContainer {
  padding: 3px 15px 3px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-color: #FCF3CF;
  border-radius: 5px;
  align-content: flex-start;
}

.infoMsgHeading {
  color: #f9a13b;
  text-align: center;
  line-height: 1.8;
  font-size: 20px;
  font-weight: bold;
  z-index: 9999;
}

.infoMsg {
  color: black;
  text-align: center;
  line-height: 1.8;
  font-size: 15px;
  z-index: 9999;
}

.stepperWrapper {
  width: 30%;
  background-color: #f7f8f9;
  border-right: solid 1px #9ca3af;
  padding: 10px;
  display flex;
  flex-direction column;

  h2 {
    padding: 0;
    margin: 0;
    font-size: 1.3rem;
  }
}

.instructionWrapper {
  width: 70%;
  padding: 10px;
  display grid;
  grid-template-rows 5fr 1fr;
  grid-gap 1rem;
}


.step {
  display: flex;
  flex-direction row;
  padding: 1rem;
  gap: 1rem;
  border: solid 1px #f7f8f9;
  align-items  center;
  &-active {
    @extends .step;
    background: #FFFFFF;
    border: solid 1px #9ca3af;
  }
}

.stepWrapper {
  height: 100%;
  overflow-y scroll;
  padding: 5px;
  box-sizing border-box;
}

.stepIndex {
  background: none;
  border: solid 1px #9ca3af;
  color: #9ca3af;
  font-weight: bold;
  font-size: 1.1rem;
  align-items center;
  justify-content center;
  align-content center
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 75px;
  display: inline-flex;
  flex: 0 0 auto;

  &-complete {
    @extends .stepIndex;
    color: #FFFFFF;
    background: #059669;
    border: solid 1px #059669;
  }

  &-active {
    @extends .stepIndex;
    color: #3f85c7;
    border: solid 1px #3f85c7;
    //background: #3f85c7;
  }
}

.hidden {
  display: none;
}

.instructionTitle {
  padding: 0;
  margin: 0;
  font-size: 1.4rem;
}

.stepText {
  display: flex;
  flex-direction column;
}

.stepTitle {
  color: #059669;
  font-weight: bold;

  &-active {
    @extends .stepTitle;
    color: #295d8d;
  }

  &-future {
    @extends .stepTitle;
    color: #4b5563;
  }
}

.stepperDescription {
  color: #9ca3af;
  font-weight: bold;
  font-size: 1.2rem;

  &-active {
    color: #3f85c7;
    font-weight: bold;
    font-size: 1.2rem;
  }
}


.substeps {
  display: flex;
  flex-direction column;
  gap: 2rem;
  padding: 1rem;

}

.substep {
  display: flex;
  flex-direction column;
  margin-botttom: 2rem;
  padding: 0 1rem;
  align-items stretch;
  flex-grow: 1;
}

.substepTitle {
  color: #9ca3af;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.substepDescription {
  color: #000000;
  font-size: 1.1rem;
}


.controls {
  display flex;
  flex-direction row;
  align-content center
  justify-content space-around;
  gap: 2rem;
  height: 7vh;
}


.stepButtonBase {
  padding: 1rem 1.33rem;
  color: white;
  border-radius: .25rem;
  border: solid 1px rgba(209, 213, 219, 1);
  min-width: 12rem;

  i {
    margin: 0 8px !important;
  }
}

button-mixin($color) {
  @extend .stepButtonBase;
  background-color: rgba($color, .8);
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  transition: 150ms ease-in-out;

  &:disabled {
    $disabled-color = rgba(#707070, .5);
    background-color: $disabled-color;
    color: rgba(black, .2);
  }

  &:not(:disabled):hover {
    background-color: darken($color, 30%);
    transition: 150ms ease-in-out;
  }
}

.stepButton {
  display: flex;
  flex-direction: row;
  align-items  center;
  justify-content center;
  gap: 1rem;
  button-mixin(#059669);
  &-inverted {1q2
    button-mixin(#3f85c7);
    gap: 1rem;
    color: #3f85c7;
    border: solid 1px #3f85c7;
    background: none;
    display: flex;
    flex-direction: row;
    align-items  center;
  }
}

.substepWrapper {
  display: flex;
  flex-direction row;
  align-items center;
  box-sizing border-box;
  padding: 10px;
  border-radius: 5px;
  transition: 200ms ease-in-out;
}

.substepIndicator {
  border-radius: 5px;
  background: none
  color: #77a9d7;
  display: flex;
  align-items center;
  justify-content center;
  padding: 5px;
  i {
    padding: none !important;
    margin: none !important;
    font-size: 2.5rem!important;
  }

  &-complete {
    @extends .substepIndicator;
    color: #059669;
  }
  &-pending{
    @extends .substepIndicator;
    color: #d97706;
  }
}

.actionButton {
  border: none;
  outline: none;
  background: lightgrey;
  i {
    font-size: 1rem;
  }
}


.substepComplete {
  opacity: 0.7;
  border-left: solid 3px #036949
  background: rgba(#036949, 0.1);
}

.substepActive {
  opacity: 1;
  border-left: solid 3px #3f85c7;
  background: rgba(#3f85c7, 0.1);
  overflow: hidden;
}

.substepPending {
  opacity: 0.25;
  //border-left: solid 3px #d97706;
  background: rgba(#d97706, 0.1)
}


.actionRow {
  display: flex;
  flex-direction row;
  margin-top: 1rem;
  gap: 0.5rem;
  align-items center;
  width: 100%;
  span{
    margin-bottom: 1rem;
  }
}

.orSpan {

}

.loadingSpan {
  font-size: 2rem;
  font-weight: bold;
}
.loadingSpan:after {
    animation: dots 250ms linear infinite;
    content: '';
  }

  @keyframes dots {
    0%, 20% {
      content: '.';
    }
    40% {
      content: '..';
    }
    60%, 100% {
      content: '...';
    }
}

.subHeading {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  color: #4b5563;
  font-weight: bold;
  margin-top: 1rem;
}

@media (max-width: 1068px) {
    .actionRow{
      display: block !important;
      text-align: center;
      button{
        margin-top: 1rem;
      }
    }
  }


.minimizeActive {
  transition: width 300ms ease;
}

.minimizeDone {
  display: none;
}

.maximizeActive {
  transition: height 350ms ease-in;
}

.maximizeDone {
  display: flex;
}


.introduction {
  position: relative;
  width: 60%;
  border-radius: 5px;
  padding: 10px;
  margin: 0px auto;
  background-color: rgba(230, 103, 103, 0.4);
  border: solid 1px #9b1919;
  box-shadow: 0px 2px 4px rgba(1, 0, 0, 0.2);

  h2 {
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #9b1919;
  }

  p {
    color: #9b1919;
    margin-top: 1rem;
  }

  i {
    position: absolute;
    right: 1rem;
    top 80%;
    transform: translateY(-50%);
    font-size: 3rem !important;
    opacity: 0.2;
    color: #FFFFFFF !important;
  }

}
