/*
 *     This file is part of gSender.
 *
 *     gSender is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     gSender is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 *     along with gSender.  If not, see <https://www.gnu.org/licenses/>.
 */

.panel {
    background-color: #fff;
    border: 1px solid transparent;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    margin-bottom: 10px;
}

.panel-heading {
    padding: 5px 10px;
    border-bottom: 1px solid transparent;
}

.panel-body {
    padding: 10px;
}

.panel-default {
    border-color: #ccc;

    > .panel-heading {
        color: #333;
        background-color: #fafafa;
        border-color: #ccc;
    }
    > .panel-heading:last-child {
        border-color: transparent;
    }
}
