.input {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 2fr;
  margin: 0 10px 10px !important;

  label {
    font-size: 1.1rem;
    align-self: center;
  }
}

.input-text {
  font-size: 1.35rem !important;
  z-index: 0 !important; 
  text-align: center;
  color: #3e85c7;
}