.widget-content {
    position: relative;
    padding: 10px;
    overflow-y: auto;
    height: clamp(163px, 13vw, 250px);

    &.hidden {
        display: none;
    }

    .icon {
        display: inline-block;
        height: 14px;
        width: 14px;
        vertical-align: middle;
        margin-bottom: 2px;
        background-color: #9ca3af;
        &.icon-fan {
            background: url("./images/fan.svg") no-repeat 0 0;
        }
    }
}
