/* #9ca3af */

.coolantButtons {
  background-color: #D1D5DB;
  border-radius: 0.25rem;
  font-size: 14px;
  color: #3e85c7;
  --tw-shadow: 0 11px 10px 1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  transition: 200ms ease-in-out;
  font-size: clamp(12px, 1vw, 22px);
  height: 2.25rem;
  padding: 0;
  --tw-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
		-webkit-box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow);
		box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow);

}

.speedSpindle {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: clamp(3px, 1vw, 20px);
  margin-bottom: clamp(3px, 0.5vw, 20px);
  margin-left: 36%;
  width: 110%;
}

.smalledText {
  font-size: smaller;
  display: inline-block;
}

.labelSpindle {
  font-size: clamp(12px, 1vw, 22px);
  margin-bottom: clamp(0px, 0.5vh, 10px);
  margin-right: 5px;
}

.coolantButtons:disabled {
  background-color: #D9DCE1;
  border: 1px solid #6F7376;
  color: #6F7376;
  border-radius: 0.25rem;
  width: 100%;
  max-width: 10rem;
  /* padding: 5px; */
  margin: 0;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  cursor: not-allowed;
}

.coolantButtons:disabled:hover {
  background-color: #D9DCE1;
  border: 1px solid #6F7376;
  color: #6F7376;
  border-radius: 0.25rem;
  width: 100%;
  max-width: 10rem;
  /* padding: 5px; */
  margin: 0;
  cursor: not-allowed;
}

.coolantButtons:enabled {
  border: 1px solid #9CA3AF;
  color: #3E85C7;
  background-color: #D1D5DB;
  border-radius: 0.25rem;
  width: 100%;
  max-width: 10rem;
  /* padding: 5px; */
  margin: 0;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.coolantButtons:hover {
  border: 1px solid #3E85C7;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  background-color: #E5E7EB;
}

input.form-control[type="number"] {
  min-width: 8rem;
  color: #3e85c7;
  height: 37px;
  border-radius: 4px;
  border: 1px solid #d8d8d8;
  position: relative;
  text-align: center;
  font-size: 20px;
  outline: none;
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20version%3D%221.1%22%20viewBox%3D%220%200%2050%2067%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20stroke-width%3D%222%22%3E%3Cline%20x1%3D%221%22%20x2%3D%2250%22%20y1%3D%2233.5%22%20y2%3D%2233.5%22%20stroke%3D%22%23D8D8D8%22%2F%3E%3Cpolyline%20transform%3D%22translate(25%2020)%20rotate(45)%20translate(-25%20-20)%22%20points%3D%2219%2026%2019%2014%2032%2014%22%20stroke%3D%22%23000%22%2F%3E%3Cpolyline%20transform%3D%22translate(25%2045)%20rotate(225)%20translate(-25%20-45)%22%20points%3D%2219%2052%2019%2039%2032%2039%22%20stroke%3D%22%23000%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-position: center right;
  background-size: contain;
  background-repeat: no-repeat;
  caret-color: transparent;
}

input.form-control[type="number"]:disabled {
  cursor: not-allowed;
}

input.form-control[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  opacity: 1 !important;
  background: transparent !important;
  border-width: 0px;
  margin: 0;
  border-left: 1px solid #d8d8d8;
  height: 34px;
  width: 23px;
  cursor: pointer;
}

.control-label {
  font-size: clamp(12px 1vw, 22px);
  margin-bottom: clamp(0px, 0.25vw, 10px);
}

.form-group {
  margin-left: 2%;
}

.form-groupSpindle {
  margin-left: 0;
  margin: 1rem 0;
}
