.firmwareHeader {
  padding: 1%;
  margin-bottom: 0;
  border-bottom: solid 1px #4B5563;
}

.firmwareContainer {
  width: 1000px;
  height: 55vh;
  display: flex;
  background-color: #e5e7eb;
}

.grblContainer {
  display: flex;
  justify-content: flex-end;
}

.settingsContainer {
  width: 52vw;
  height: 48vh;
  display: flex;
  margin: 2%;
  border: 1px solid #6b7280;
  flex-direction: column;
  overflow-y: scroll;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: space-evenly;
  margin-right: 3%;
  margin-bottom: 2%;
}

.firmwareButtonDisabled {
  border: 1px solid #9ca3af;
  color: #6F7376;
  background-color: #D9DCE1;
  border-radius: .25rem;
  width: 100%;
  max-width: 12rem;
  font-size: 14px;
  padding: 5px;
  margin: 2%;
  transition: 200ms ease-in-out;
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  cursor: no-drop;
}

.applySettingsButton {
  border: 1px solid #9ca3af;
  color: #3E85C7;
  background-color: #D1D5DB;
  border-radius: .25rem;
  width: 100%;
  max-width: 12rem;
  font-size: 14px;
  padding: 5px;
  margin: 2%;
  transition: 200ms ease-in-out;
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pulse 2s infinite;

  &:hover {
    border: 1px solid #3e85c7;
    transition: 200ms ease-in-out;
    background-color: #E5E7EB;
    border-radius: .25rem;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.firmwareButtons {
  border: 1px solid #9ca3af;
  color: #3E85C7;
  background-color: #D1D5DB;
  border-radius: .25rem;
  width: 100%;
  max-width: 12rem;
  font-size: 14px;
  padding: 5px;
  margin: 2%;
  transition: 200ms ease-in-out;
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

  &:hover {
    border: 1px solid #3e85c7;
    transition: 200ms ease-in-out;
    background-color: #E5E7EB;
    border-radius: .25rem;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
}

.keyRow {
  margin: 2%;
}

.containerFluid {
  margin: 0;
  padding: 0;
}

.containerFluid:nth-child(odd) {
  background-color: white;
}

.containerFluid:nth-child(even) {
  background-color: #d1d5db;
}

.itemText {
  font-weight: bold;
  margin-top: -4%;
  margin-left: 9%;
  width: 45%;
  line-height: 1.45rem;
  font-size: 1.3rem;
  text-align: left;
}

.descriptionRow {
  font-size: medium;
  padding: 1.2rem;
  margin-top: -6%;
  margin-left: 7%;
  width: 52.5%;
}

.firmwareContainer{
  width:100%;
  
  }
